html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* ========================================================================== */
/* HTML5 Boilerplate: opinionated defaults */
/* ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ========================================================================== */
body, html {
  font-size: 100%;
  background: #000;
  overflow: hidden;
}

body {
  color: #fff;
  background: #000;
  font-family: "FiraSans-Book", "helveticaRegular", sans-serif;
  font-size: 1.75rem;
  position: relative;
  height: 100vh;
  background: url("../img/luxStaticBack.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  -webkit-overflow-scrolling: touch !important;
}

@media screen and (max-width: 46.875rem) {
  body {
    font-size: 1.2rem;
  }
}

.underlined {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.bolder, h1, h2 {
  font-family: 'SourceCodePro-BoldIt', sans-serif;
}

.bolderStraight {
  font-family: 'SourceCodePro-Bold', sans-serif;
}

.smaller {
  font-size: 0.85em;
}

.moreSmaller {
  font-size: 0.7em;
}

.muchSmaller {
  font-size: 0.7em;
}

@media screen and (min-width: 50rem) {
  .muchSmaller {
    font-size: 0.5em;
  }
}

.centered {
  text-align: center;
}

.blinking {
  -webkit-animation: 1s blink infinite linear;
  -moz-animation: 1s blink infinite linear;
  animation: 1s blink infinite linear;
}

@-webkit-keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@-moz-keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

@keyframes blink {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

.fillBox, #mobileDisplay .smallCard .bgHolder, .card .mediaHolder, .projDescription {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1em;
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

.no-touch a.underline:hover {
  opacity: 0.6;
}

.no-touch a.linkAnim:hover {
  text-decoration: underline;
}

.csstransforms.csstransitions a.linkAnim {
  text-decoration: none;
}

.inlineDiv {
  display: inline-block;
}

.csstransforms.csstransitions a.linkAnim:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.csstransforms.csstransitions.no-touch a.linkAnim:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.boxPrototype {
  display: none;
  visibility: hidden;
}

.closeBox {
  visibility: hidden;
}

.luxLogoInText {
  width: 10rem;
}

#mobileDisplay {
  font-family: "FiraSans-Thin", "fira-sans", "helveticaLight", sans-serif;
}

#mobileDisplay .smallCard {
  margin: 1rem 3rem 4rem 1rem;
  padding: 1rem;
  border: solid 1px #fff;
  position: relative;
}

#mobileDisplay .smallCard.firstCard img {
  margin-bottom: 5rem;
}

#mobileDisplay .smallCard.projCard {
  height: 80vh;
  min-height: 300px;
}

#mobileDisplay .smallCard.hasBox {
  box-shadow: 8px 8px #000, 8px 8px 0px 1px #fff;
}

#mobileDisplay .smallCard .bgHolder {
  opacity: 1.0;
}

#mobileDisplay .smallCard .textHolder {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  padding: 0.5rem;
  padding-left: 15%;
  text-align: right;
  opacity: 1.0;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.5);
}

#mobileDisplay .smallCard .textHolder .coolHeading {
  font-size: 1.3rem;
}

#mobileDisplay .smallCard .textHolder .coolHeading:before {
  content: "\2014\00A0";
}

#mobileDisplay .smallCard .cool {
  color: #fff;
  margin: 0rem;
  font-size: 2rem;
}

#mobileDisplay .smallCard .cool:after {
  content: "\00A0\2014";
}

#mobileDisplay .luxInfo {
  text-align: justify;
}

@media screen and (min-width: 46.875rem) {
  #mobileDisplay {
    visibility: hidden;
    display: none;
  }
}

.card {
  border: white solid 2px;
  width: 85%;
  height: 80%;
  position: absolute;
  background: #000;
  min-height: 400px;
  min-width: 31.25rem;
  max-width: 1400px;
  max-height: 1200px;
  -webkit-transition: opacity 0.5s ease-in 0s;
  -moz-transition: opacity 0.5s ease-in 0s;
  transition: opacity 0.5s ease-in 0s;
  opacity: 0.0;
  font-family: "FiraSans-Thin", "fira-sans", "helveticaLight", sans-serif;
}

.csstransforms.csstransitions.opacity .card.slideOut {
  -webkit-transition: left 2s ease 0s, opacity 0.5s ease 0s;
  -moz-transition: left 2s ease 0s, opacity 0.5s ease 0s;
  transition: left 2s ease 0s, opacity 0.5s ease 0s;
  opacity: 0.0;
}

.csstransforms.csstransitions.opacity .card.slideUp {
  -webkit-transition: left 1s ease 0s, top 1s ease 0s;
  -moz-transition: left 1s ease 0s, top 1s ease 0s;
  transition: left 1s ease 0s, top 1s ease 0s;
  left: 2rem;
  top: 2rem;
}

.card .cool {
  color: #fff;
  position: absolute;
  top: 0.5rem;
  left: 0.75rem;
  margin: 0rem;
  font-size: 2.6rem;
}

.card .cool:after {
  content: "\00A0\2014";
}

.card .mediaHolder {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity .card .mediaHolder {
  -webkit-transition: opacity 0.5s ease-in 0s;
  -moz-transition: opacity 0.5s ease-in 0s;
  transition: opacity 0.5s ease-in 0s;
  opacity: 0.7;
}

.card .luxLogo {
  width: 10rem;
  padding-bottom: 0.45rem;
  margin-right: 0.5rem;
  margin-left: 0.8rem;
}

.card .projInfo {
  opacity: 0.0;
  position: absolute;
  bottom: 0.4rem;
  right: 0.5rem;
  color: #fff;
  text-align: right;
}

.card .projInfo .separate {
  -webkit-transition: opacity 1s ease-in 0s;
  -moz-transition: opacity 1s ease-in 0s;
  transition: opacity 1s ease-in 0s;
}

.card .projInfo .separate:before {
  content: "\2014\00A0";
}

.card .projInfo .coolHeading {
  font-size: 1.5rem;
}

.card .projInfo .projName {
  font-size: 1rem;
  font-family: "FiraSans-Book", "helveticaRegular", sans-serif;
}

.card .closeBox {
  visibility: hidden;
  position: absolute;
  top: 0rem;
  right: 0rem;
  font-size: 3rem;
  font-family: "FiraSans-Book", "helveticaRegular", sans-serif;
  margin-right: 1rem;
  margin-top: -0.5rem;
}

.card.showInfo .closeBox, .card.showProjInfo .closeBox {
  visibility: visible;
}

@media screen and (max-width: 37.5rem) {
  .card {
    visibility: hidden;
    display: none;
  }
}

.cardTop {
  top: 2rem;
  left: 2rem;
  z-index: 10;
  opacity: 1.0;
}

.cardTop .projInfo {
  -webkit-transition: opacity 1s ease-in 0s;
  -moz-transition: opacity 1s ease-in 0s;
  transition: opacity 1s ease-in 0s;
  opacity: 1.0;
}

.cardBottom {
  top: 4rem;
  left: 4rem;
  z-index: 5;
  opacity: 1.0;
}

.cardBottom .projInfo {
  opacity: 0.0;
}

.cardBottom .mediaHolder {
  opacity: 0.4 !important;
}

.no-touch .fadeInfo .mediaHolder {
  opacity: 0.0 !important;
}

.no-touch .fadeInfo .separate {
  opacity: 0.0;
}

.projDescription {
  height: 0rem;
  -webkit-transition: opacity 0.5s ease-in 0s, height 0.5s ease-in 0s;
  -moz-transition: opacity 0.5s ease-in 0s, height 0.5s ease-in 0s;
  transition: opacity 0.5s ease-in 0s, height 0.5s ease-in 0s;
  padding: 1rem;
  padding-right: 20%;
  font-size: 1.2rem;
  opacity: 0.0;
  overflow: scroll;
  background: black;
}

@media screen and (max-width: 75rem) {
  .projDescription {
    font-size: 1rem;
  }
}

@media screen and (max-width: 46.875rem) {
  .projDescription {
    font-size: 0.9rem;
  }
}

.showInfo > .projDescription {
  height: 100%;
  opacity: 1.0;
}

.showProjInfo > .projDescription {
  height: 100%;
  padding: 1rem;
  text-align: center;
  padding-top: 6rem;
  opacity: 0.8;
  font-size: 1.5rem;
}

.projDescription .projDesc, .projDescription .projLink {
  font-size: 1rem;
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.socialIcon img {
  width: 1.5rem;
}

.socialIcon:hover {
  opacity: 0.6;
}

/* ========================================================================== */
/* HTML5 Helper classes */
/* ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Print Styles  */
/* ========================================================================== */
@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
