/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * Global Styles * * * * * * * * */

html, body {
  background: #000000;
  font-family: "camingodos-web", "arial", sans-serif;
  font-weight: 300;
  font-size: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {color: #ffffff; text-decoration: none;}
a:hover {text-decoration: underline;}


/* * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * * * Helpers * * * * * * * * * * */

.r {color: #ff0000;}
.g {color: #00ff00;}
.b {color: #5050ff;}

.rgbShadow {
  box-shadow:
     2px 2px #ff0000,
     4px 4px #00ff00,
     6px 6px #0000ff;
}

.rgbShadowSmall {
  box-shadow:
     1px 1px #ff0000,
     2px 2px #00ff00,
     3px 3px #0000ff;
}

.rgbShadowBig {
  box-shadow:
     4px 4px #ff0000,
     8px 8px #00ff00,
     12px 12px #0000ff;
}

.vCenterAlt {
  /* use if you have a declared height */
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.vCenterParent {
  /* Apply to parent of any element that is vertically centereed
     using below method to prevent blurry rendering */
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.vCenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/* * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * * * * * Main Page Styles  * * * * * * * */

/******** image BG ********/

#bgHolder, #bgHolderP {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 115%;
  overflow: hidden;
  z-index: 1;
  background-color: #000000;
}

#staticBg, #slideshowBg, #staticBgP, #slideshowBgP {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}Ω

#staticBg, #staticBgP {
  z-index: 9000;
}

#slideshowBg, #slideshowBgP {
  z-index: 9001;
}


/******** sections ********/

.section {
  position: relative;
  z-index: 2;
}

.sectionBox {
  position: relative;
  top: 0%;
  left: 5%;
  width: 90%;
  min-height: 50%;
  background-color: #000000;
  color: #ffffff;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  overflow: hidden;
  padding-bottom: 2em;
}

.rgba .sectionBox {
  background-color: rgba(0,0,0,0.8);
}

#updatesBox p, #footLeft p, #footRight p {
  margin: 2em;
}

#infoBox h1, #updatesBox h1, #footLeft h1, #footRight h1, .section h1 {
  font-size: 1em;
  margin: 2em;
  margin-bottom: 0em;
  font-weight: 400;
  text-transform: uppercase;
  width: 15em;
  border-bottom: solid;
  border-bottom-color: #ff0000;
  border-bottom-width: 1px;
}


/*-----------*/
#logoSection {
  height: 100%;
}

.bigLogo {
  width: 35%;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 5em;
  z-index: 9999;
  background: none;
  position: relative;
  top: 35%;
}

#coverSvg {
  width: 100%;
  height: auto;
}

#cornerSvg {
  height: 40%;
  width: auto;
}


/*-----------*/
#projSection {
  height: auto;
  margin-bottom: 8em;
}

#projBox {
  padding: 0;
}

.projThumb, .galThumb {
  background: #222;
  position: relative;
  width: 50%;
  height: 20px;
  display: inline-block;
  vertical-align: top;
}

.projThumb:hover, .galThumb:hover {
  cursor: pointer;
}

/*
.opacity .projThumb:hover img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
*/

.projLabel {
  font-family: "rooney-sans", "helvetica", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: #000;
  /*
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  */
}

.projLabel p {
  margin-left: 1em;
}

.isMobile .projLabel {
  font-size: 1em;
}

.touch .projLabel {
  font-size: 1em;
}

.no-touch.opacity .isNotMobile .projLabel {
  height: 100%;
  text-align: center;
}

.no-touch.opacity .isNotMobile .projLabel p {
  margin: initial;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rgba .projLabel {
  background-color: rgba(0,0,0,0.85);
}

.no-touch.opacity .projLabel {
    opacity: 0.0;
}

.opacity .isMobile .projLabel, .touch .projLabel {
  opacity: 1.0;
}

.no-touch.opacity.csstransitions .projLabel {
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.no-touch.opacity .isNotMobile .projThumb:hover .projLabel,
.no-touch.opacity .isNotMobile .galThumb:hover .projLabel {
  opacity: 1.0;
  /*
  border: solid;
  border-width: 3px;
  border-color: #f00;
  */
}


/*-----------*/
#infoSection {
  height: 100%;
}

#infoBox {
  min-height: 80%;
}

#infoBox p {
  margin: 0em 2em 1.5em 2em;
}

.first {
  margin-top: 2em !important;
}


/*-----------*/
#datesSection {
  height: auto;
}

.eventHead {
  display: inline-block;
  width: 13.5em;
  border-bottom: solid;
  border-bottom-color: #ff0000;
  border-bottom-width: 2px;
  margin-bottom: 0.5em;
}

.eventDate {
  display: inline-block;
  width: 8.5em;
  padding-top: 1em;
  border-bottom: solid;
  /*border-bottom-color: #5050ff;*/
  border-bottom-color: #ff0000;
  border-bottom-width: 1px;
}

.eventDesc {
  display: inline-block;
  font-size: 0.85em;
}

.eventsR, .eventsL {
  width: auto;
  float: left;
}

.eventsL {
  width: 51%;
}

.eventsL p, .eventsR p {
  margin: 2em;
}


/*-----------*/
#footerSection {
  height: 100%;
}

#footLeft p, #footRight p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6em;
}

#footLeft, #footRight {
  font-size: 0.9em;
} 

#footLeft {
  position: absolute;
  top: 15%;
  left: 5%;
}

#footRight {
  position: absolute;
  top: 15%;
  left: 51%;
}

#footRight, #footLeft {
  background-color: #000000;
  color: #ffffff;
  width: 43%;
  height: auto;
  min-height: 80%;
  box-shadow:
       4px 4px #ff0000,
       8px 8px #00ff00,
       12px 12px #0000ff;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  margin-bottom: 3em;
}

.socLink:hover {
  text-decoration: none;
}

.social {
  width: 2.5em;
  height: auto;
}

.social:hover {
  cursor: pointer;
  opacity: 0.5;
}

#beOurFriend {
  margin-top: -0.5em !important;
}


/*-----------*/
#mc_embed_signup {
  width: 70%;
  display: inline-block;
  padding: 1em 2em 1em 2em;
  line-height: 1.6em;
}

#mc_embed_signup input {
  width:100%;
  display:block;
  border: 1px solid #333;
  height: 25px;
  margin-bottom: 1em;
  color: #aaa;
  padding-left: 5px;
  background-color: #333;
}

#mc_embed_signup label {
  font-size: 0.9em;
}

#mc-embedded-subscribe {
  width: 15em !important;
  background:#000 !important;
  color:#fff !important;
  height:30px;
  border: 1px solid #999;
}

#mc-embedded-subscribe:hover {
  background:#333 !important;
}

::-webkit-input-placeholder {
   color: #555;
}

:-moz-placeholder { /* Firefox 18- */
   color: #555;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #555;  
}

:-ms-input-placeholder {  
   color: #555;  
}

#shortMailForm {
  visibility: hidden;
  display: none;
}

/******** menu bars ********/

.menuBar {
  color: #ffffff;
  display: block;
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: #000;
  left: 0%;
  z-index: 9999;
  max-height: 60px;
}

.rgba .menuBar {
  background-color: rgba(0,0,0,0.9);
}

#menuBarBot {
  bottom: 0%;
}

#menuBarTop {
  top: 0%;
  display: none;
}

#projectMenuBar {
  top: 0%;
}

.menuMargins{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#botLinks {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 50%;
  margin-top: -0.5em; 
  left: 5%;
}

.botNavLink {
  padding-right: 1em;
}

.botNavLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

#menuIcons {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 50%;
  margin-top: -0.8em; 
  right: 5%;
  text-align: right;
}

.menuSocial {
  width: 2.1em;
  height: auto;
  padding-left: 0.3em;
}

.menuSocial:hover {
  cursor: pointer;
  opacity: 0.5;
}

#topLinks {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 50%;
  margin-top: -0.5em; 
  right: 5%;
  text-align: right;
}

.topNavLink {
  padding-left: 1em;
}

.topNavLink:hover {
  text-decoration: underline;
  cursor: pointer;
}

#topLogo {
  font-family: "rooney-sans", "helvetica", sans-serif;
  font-weight: 300;
  font-size: 2em;
  position: absolute;
  width: 45%;
  height: 100%;
  top: 50%;
  margin-top: -0.7em; 
  left: 5%;
  text-shadow:
       1px 1px #ff0000,
       2px 2px #00ff00,
       3px 3px #0000ff;
}

#topLogo:hover {
  cursor: pointer;
}

/* * * * * * * * * * * * * * * * * * * * * * * * */
/* * * * *  Generic Project Page Styles  * * * * */

#topTitle {
  position: absolute;
  width: 45%;
  height: 100%;
  top: 50%;
  margin-top: -0.5em; 
  right: 5%;
  text-align: right;
  font-family: "rooney-sans", "helvetica", sans-serif;
  font-weight: 300;
}

.vidSection, .imgSection, .galSection {
  position: relative;
  height: auto;
  /*min-height: 100%;*/
  padding-top: 80px;
  margin-bottom: 5em;
}

.vidBox, .imgBox, .galBox {
  height: auto;
  width: 90%;
  margin: 0 auto;
  background-color: #222222;
}

.imgBox img {
  width: 100%;
  height: auto;
}

.textSection {
  height: 100%;
}

.textBox {
  position: relative;
  top: 0%;
  left: 5%;
  width: 90%;
  min-height: 80%;
  background-color: #000000;
  color: #ffffff;
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  overflow: hidden;
  padding-bottom: 2em;
}

.galSection {
  margin-bottom: 8em;
  padding: 0;
}


.section p {
  margin: 0em 2em 1.5em 2em;
}




/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

.isMobile .menubar {
  visibility: hidden;
  display: none;
}

@media only screen and (max-width: 480px) {

    body {
      font-size: 80%;
    }

    .bigLogo {
      width: 70%;
    }

    #topLinks, #botLinks {
      width: 80%;
    }

    .botNavLink, .topNavLink {
      padding-right: 0.4em;
    }

    #infoBox, #updatesBox, #footLeft {
      box-shadow:
       2px 2px #ff0000,
       4px 4px #00ff00,
       6px 6px #0000ff;
    }
}

@media only screen and (max-width: 700px) {

    body {
      font-size: 90%;
    }

    #infoBox p {
      margin: 0em 0.8em 0.8em 0.8em
    }

    .first {
      margin-top: 0.8em !important;
    }
    
    .bigLogo {
      width: 50%;
    }

    /*
    .eventsL {
      width: 100%;
    }

    .eventsR {
      visibility: hidden;
      display: none;
    }
    */

    #infoBox, #updatesBox {
      left: 3%;
      width: 94%;
      box-shadow:
       3px 3px #ff0000,
       6px 6px #00ff00,
       9px 9px #0000ff;
    }

    
}

@media only screen and (min-width: 700px) and (max-height: 530px) {
  body {
    font-size: 90%;
  }
}

@media only screen and (min-width: 700px) and (max-height: 450px) {
  body {
    font-size: 85%;
  }
}

@media only screen and (max-width: 900px) {
  .eventsL {
    width: 100%;
  }

  #footLeft {
    left: 3%;
    width: 94%;
    box-shadow:
     3px 3px #ff0000,
     6px 6px #00ff00,
     9px 9px #0000ff;
  }

  #footRight {
    visibility: hidden;
    display: none;
  }

  #shortMailForm {
    visibility: visible;
    display: inline-block;
  }
}

@media only screen and (min-width: 1400px) {
  .section, .menuMargins {
    /*max-width: 1200px;*/
    width: 90%;
    margin: 0 auto;
  }
}


@media only screen and (min-width: 1600px) {
  .section, .menuMargins {
    width: 80%;
    /*max-width: 1700px;*/
    margin: 0 auto;
  }
  
  .projThumb, .galThumb {
    width: 33.3%;
  }
}


@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dppx) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   No-JS classes
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}