/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  height: 100%;
  width: 100%;
}

body {
    background: #222222;
    /*background: url('../img/005.jpg');*/
    font-family: "rooney-sans", "helvetica", sans-serif;
    height: 100%;
}

a {color: #ffffff; text-decoration: none;}
a:hover {text-decoration: underline;}

#bgHolder {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  overflow: hidden;
  background-color: #cccccc;
}

#staticBg, #slideshowBg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#staticBg {
  z-index: 9000;
/*  background: url("../img/017.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#slideshowBg {
  z-index: 9001;
}


#titleHider, #titleBar, #shadowBarR, #shadowBarG, #shadowBarB {
    color: #ffffff;
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    min-height: 15%;
    max-height: 40%;
    /*background-color: rgba(100,100,100,0.3);*/
    top: 30%;
    left: 0%;
    z-index: 9996;    
}

#titleBar {
    
}

#titleHider {
  top: 0%;
  overflow: hidden;
  min-height: 100%;
  /*background-color: rgba(255,0,0,0.5);*/
}

#menuBar {
  color: #ffffff;
  display: block;
  position: absolute;
  width: 100%;
  height: 8%;
  /*background-color: rgba(255,0,0,0.3);*/
  background-color: #111111;
  bottom: 0%;
  left: 0%;
  z-index: 9999;   
}

.rgbShadow {
    text-shadow:
       2px 2px #ff0000,
       4px 4px #00ff00,
       6px 6px #0000ff;
}

.backstretch {
    background: none;
}

/* Fallback for text shadow */
#shadowBarR {color: #ff0000; z-index: 9995; margin-top: 2px; margin-left: 2px;}
#shadowBarG {color: #00ff00;z-index: 9994; margin-top: 4px; margin-left: 4px;}
#shadowBarB {color: #0000ff; z-index: 9993; margin-top: 6px; margin-left: 6px;}


#blogContent {
  /*position: absolute;*/
  top: 70%;
  left: 0%;
  height: auto;
  width: 80%;
  min-height: 50%;
  background-color: #888888;
  padding-bottom: 0px;
  /*margin: 0% 10% 0% 10%;*/
  margin: 0 auto;
  background-color: #222222;
}

.blogEntry {
  margin: 2% 10% 3% 8%;
  /*border: solid;
  border-width: 1px;
  border-color: #555555;*/
  padding: 0% 3% 0% 3%;
  background-color: #aaaaaa;
/*  box-shadow: 
    2px 3px 0px #ff0000,
    4px 6px 0px #00ff00,
    6px 9px 0px #0000ff;*/
}

.blogDate a {
  display: inline-block;
  color: #ffffff;
  width: 30%;
  /*background-color: #ffffff;*/
  border: solid;
  border-width: 2px;
  border-color: #ffffff;
  font-size: 1.3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 1.5em;
  padding-left: 0.5em;
  margin-bottom: 1em; 
  margin-top: 1em;
  /*margin-bottom: 0.25em;  */
  font-family: "rooney-sans", "helvetica", sans-serif;
  box-shadow:
       2px 2px #ff0000,
       4px 4px #00ff00,
       6px 6px #0000ff;
}

.blogImg {
  width: 100%;
  /*max-width: 600px;*/
  height: auto;
  overflow: hidden;
}

.blogImg img {
  width: 100%;
  height: auto;
  /*margin-top: -15%;*/
}

#infoBar {
    color: #ffffff;
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    max-height: 10%;
    bottom: 10%;
    left: 0%;    
    padding: 5px 0px 5px 0px;
    z-index: 9999;
}


#footerBar {
  color: #ffffff;
  background-color: #111111;
  display: block;
  position: relative;
  /*top: 100%;*/
  left: 0%;
  width: 100%;
  height: 90%;
  z-index: 9999;  
}

.no-js #titleBar, .no-js #shadowBarR, .no-js #shadowBarG, .no-js #shadowBarB {
    font-size: 100px;
}

.no-js #titleHider {
  visibility: visible !important;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 480px) {
    .rgbShadow {
        text-shadow:
           1px 1px #ff0000,
           2px 2px #00ff00,
           3px 3px #0000ff;
    }

    #shadowBarR {margin-top: 1px; margin-left: 1px;}
    #shadowBarG {margin-top: 2px; margin-left: 2px;}
    #shadowBarB {margin-top: 3px; margin-left: 3px;}

    #titleBar, #shadowBarR, #shadowBarG, #shadowBarB {
        font-size: 50px !important;
    }

    #infoBar {
        font-size: 1.1em;
    }
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
