@import "lib/bourbon/bourbon";
@import "lib/neat/neat";


/* ========================================================================== */

$max-width: rem(1600);
$tablet:	rem(800);
$mobile:	rem(500);


@mixin fullBg {
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	background-position: center center !important;
	background-size: cover !important;
}

$bgColor: #000;
$cardBgColor: #000;
$textColor: #000;
$selectColor: #b3d4fc;

//$fontStack1:	"fira-sans", "FiraSansUL", "helveticaLight", sans-serif;
//$fontStack2:	"fira-sans", "FiraSansB", "helveticaRegular", sans-serif;
$defaultWeight: 100;


@import "partials/bpDefaults";
/* ========================================================================== */

body, html {
	font-size: 100%;
  // overflow: hidden;
}

body {
	color: $textColor;
  background: $bgColor;
  font-family: 'SourceCodePro-Light', sans-serif;
	font-size: 1.75rem;

	@include media (max-width $max-width * 1.2) {
		font-size: 1.5rem;
	}
	@include media (max-width $tablet) {
		font-size: 1.2rem;
	}
}

.underlined {text-decoration: underline;}
.strike {text-decoration: line-through;}
//.bolder {font-weight: $defaultWeight + 200;}
.bolder {font-family: 'SourceCodePro-BoldIt', sans-serif;}
.bolderStraight {font-family: 'SourceCodePro-Bold', sans-serif;}
.smaller {font-size: 0.85em;}
.moreSmaller {font-size: 0.7em;}
.muchSmaller {font-size: 0.7em;@include media(min-width $tablet){font-size: 0.5em;}}
.centered {text-align: center;}

.blinking {
  @include keyframes(blink) {
    from {
      opacity: 1.0;
    }
    to {
      opacity: 0.0;
    }
  }
  @include animation(1s blink infinite linear);
}

h1 {
	@extend .bolder;
	font-size: 1.3em;
}

h2 {
    @extend .bolder;
    font-size: 1em;
}

a {
	position: relative;
	color: $textColor;
	text-decoration: none;
}

.no-touch a.underline:hover {
  text-decoration: underline;
}

//From http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
.no-touch a.linkAnim:hover {
  text-decoration: underline;
}
.csstransforms.csstransitions a.linkAnim {
  text-decoration: none;
}

.csstransforms.csstransitions a.linkAnim:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $textColor;
  visibility: hidden;
  @include transform(scaleX(0));
  @include transition(all 0.3s ease-out 0s);
}

.csstransforms.csstransitions.no-touch a.linkAnim:hover:before {
  visibility: visible;
  @include transform(scaleX(1));
}
//////

.card {
  border: white solid 2px;
  width: 85%;
  height: 85%;
  position: absolute;
  background: $cardBgColor;
  min-height: 600px;
  @include transition(opacity 1.0s linear 0s);
  opacity: 0.0;

  .csstransforms.csstransitions.opacity & {
    &.slideOut {
      @include transition(left 2.0s linear 0s, opacity 0.5s linear 0s);
      left: -100%;
      opacity: 0.0;
    }

    &.slideUp {
      @include transition(left 1.0s linear 0s, top 1.0s linear 0s);
      left: 2rem;
      top: 2rem;
    }
  }
}

.cardTop {
  top: 2rem;
  left: 2rem;
  z-index: 10;
  opacity: 1.0;
}

.cardBottom {
  top: 4rem;
  left: 4rem;
  z-index: 5;
  opacity: 1.0;
}

// ==================

/* ========================================================================== */
@import "partials/helpers";
@import "partials/print";
