<section id="footer">
  <div class="contactInfo hiddenPhoneLA"></div>
  <div class="contactInfo hiddenEmail"></div>
  <div class="contactInfo hiddenPhoneNY"></div>

  <div class="socialInfo">
    <a href="//luxloop.com/ivaylopg/" target="_blank">
      <img src="/assets/img/social/insta.svg" onerror="this.onerror=null; this.src='/assets/img/social/insta.png'" alt="insta" class="socialLink">
      </a>
    <a href="//github.com/luxloop" target="_blank">
      <img src="/assets/img/social/github.svg" onerror="this.onerror=null; this.src='/assets/img/social/github.png'" alt="github" class="socialLink">
      </a>
    <a href="//twitter.com/luxloop" target="_blank">
      <img src="/assets/img/social/twitter.svg" onerror="this.onerror=null; this.src='/assets/img/social/twitter.png'" alt="twitter" class="socialLink">
      </a>
    <a href="//vimeo.com/luxloop/" target="_blank">
      <img src="/assets/img/social/vimeo.svg" onerror="this.onerror=null; this.src='/assets/img/social/vimeo.png'" alt="vimeo" class="socialLink">
    </a>
  </div>
</section>




