<section id="footer">
  <div class="contactInfo center narrow hiddenEmail"></div>
  <div class="contactInfo left hiddenPhoneLA"></div>
  <div class="contactInfo center wide hiddenEmail"></div>
  <div class="contactInfo right hiddenPhoneNY"></div>

  <div class="socialInfo">
    <div class="iconCircle" data-social="instagram">
      <a href="//instagram.com/luxloop" target="_blank">a</a>
    </div>
    <div class="iconCircle" data-social="twitter">
      <a href="//twitter.com/luxloop" target="_blank" style="font-size: 0.8em">c</a>
    </div>
    <div class="iconCircle" data-social="facebook">
      <a href="//facebook.com/luxloop" target="_blank">f</a>
    </div>
    <div class="iconCircle" data-social="github">
      <a href="//github.com/luxloop" target="_blank" style="font-size: 1.4em">g</a>
    </div>
    <div class="iconCircle" data-social="vimeo">
      <a href="//vimeo.com/luxloop" target="_blank">h</a>
    </div>
  </div>
</section>




{{!-- <a href="//luxloop.com/ivaylopg/" target="_blank">
      <img src="/assets/img/social/insta.svg" onerror="this.onerror=null; this.src='/assets/img/social/insta.png'" alt="insta" class="socialLink">
      </a>
    <a href="//github.com/luxloop" target="_blank">
      <img src="/assets/img/social/github.svg" onerror="this.onerror=null; this.src='/assets/img/social/github.png'" alt="github" class="socialLink">
      </a>
    <a href="//twitter.com/luxloop" target="_blank">
      <img src="/assets/img/social/twitter.svg" onerror="this.onerror=null; this.src='/assets/img/social/twitter.png'" alt="twitter" class="socialLink">
      </a>
    <a href="//vimeo.com/luxloop/" target="_blank">
      <img src="/assets/img/social/vimeo.svg" onerror="this.onerror=null; this.src='/assets/img/social/vimeo.png'" alt="vimeo" class="socialLink">
    </a> --}}
