<div id="menuPos">
  {{#if noHide}}
  <div id="cornerMenu" class="noHide">
  {{else}}
  <div id="cornerMenu">
  {{/if}}
    <div class="menuBg">
      <div class="linkBox fadeLink"><a href="/about.html">What We Do</a></div>
      <div class="linkBox fadeLink"><a href="/projects">Projects</a></div>
      <div class="linkBox fadeLink"><a href="/contact.html">Contact</a></div>
    </div>

    <div class="menuToggle">
    </div>
  </div>
</div>
