<div id="cornerMenu">
  <div class="menuBg">
    <div class="linkBox"><a href="whatwedo.htnl">What We Do</a></div>
    <div class="linkBox"><a href="projects.htnl">Projects</a></div>
    <div class="linkBox"><a href="contact.htnl">Contact</a></div>
  </div>

  <div class="menuToggle">
  </div>
</div>
