
/* HTML5 Boilerplate: opinionated defaults */
/* ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}

*, *:before, *:after {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
    // background: $selectColor;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}
