@font-face {
  font-family: 'socialicons';
  src: url('/assets/fonts/socialicons.eot?20207975');
  src: url('/assets/fonts/socialicons.eot?20207975#iefix') format('embedded-opentype'),
       url('/assets/fonts/socialicons.woff2?20207975') format('woff2'),
       url('/assets/fonts/socialicons.woff?20207975') format('woff'),
       url('/assets/fonts/socialicons.ttf?20207975') format('truetype'),
       url('/assets/fonts/socialicons.svg?20207975#socialicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'code_boldregular';
    src: url('/assets/fonts/code_bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/code_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'code_lightregular';
    src: url('/assets/fonts/code_light-webfont.woff2') format('woff2'),
         url('/assets/fonts/code_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('/assets/fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('/assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('/assets/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mark_my_wordsregular';
    src: url('/assets/fonts/mark_my_words-webfont.woff2') format('woff2'),
         url('/assets/fonts/mark_my_words-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
