$menuToggleSize: 1.5rem;
$menuExpandTime: 400ms;
$linkFanTime: 300ms;
$menuBackgroundOff: white;
$menuBackgroundOn: $frontPageColor;
$borderOutlineColor: #eee;
$borderOutlineThickness: 2px;

#menuPos {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: $max-width;
  right: 50%;
  transform: translateX(50%);
  z-index: 30;

  #cornerMenu {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 100% 100%;

    border-left: solid $borderOutlineColor $borderOutlineThickness;
    border-bottom: solid $borderOutlineColor $borderOutlineThickness;

    width: 5rem;
    height: 5rem;
    max-height: $tablet;
    max-width: $tablet;
    z-index: 30;
    background: none;
    overflow: hidden;
    transition: width $menuExpandTime ease-in-out,
                height $menuExpandTime ease-in-out,
                border-color $menuExpandTime linear,
                opacity $menuExpandTime linear;

    &.noHide {opacity: 1.0 !important}


    .menuBg, .menuBg:after {
      position: absolute;
      top: 0px;
      right: 0px;
      border-bottom-left-radius: 100% 100%;
    }

    .menuBg {
      width: 100vh;
      height: 100vh;
      transition: background-color $menuExpandTime linear;
      background-color: $menuBackgroundOff;
      // background: rgba(0,0,0,1);
      // background: -webkit-radial-gradient(top right circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 70%);
      // background: radial-gradient(circle at top right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 70%);


      .linkBox {
        display: block;
        padding-right: 16rem;
        @include absTopRight;
        top: 1rem + $menuToggleSize/2;
        right: 1rem + $menuToggleSize/2;
        transform-origin: center right;
        transition: transform $linkFanTime ease-in-out, opacity $linkFanTime linear;
        transform: translateY(-50%) rotate(-120deg);

        opacity: 0.0;

        a {
          color: #ffffff;
          font-family: $headerFont;
          text-decoration: none;
          font-size: 4.8rem;
        }
      }
    }

    .menuToggle {
      width: $menuToggleSize;
      height: $menuToggleSize;
      color: white;
      font-family: $headerFont;
      position: absolute;
      top: 1rem;
      right: 1rem;
      transition: transform $menuExpandTime/2 linear;

      &:after, &:before {
        transition: background-color $menuExpandTime/2 linear;
        background-color: black;
      }

      &:before {
        content: "";
        position: absolute;
        left: $menuToggleSize/2;
        top: 0rem;
        height: $menuToggleSize;
        width: $menuToggleSize/7;
        transform: translateX(-50%);
      }

      &:after {
        content: "";
        position: absolute;
        top: $menuToggleSize/2;
        left: 0rem;
        width: $menuToggleSize;
        height: $menuToggleSize/7;
        transform: translateY(-50%);
      }
    }

    &.show {
      width: 100vh;
      height: 100vh;
      border-color: white;
      border-color: rgba(255,255,255,0.0);

      .menuBg {
        background-color: $menuBackgroundOn;
        // background-color: black;
        // opacity: 0.7;

        .linkBox {
          opacity: 1.0;
        }

        .linkBox:nth-of-type(1) {
          transform: translateY(-50%) rotate(-15deg);
          transition-delay: $menuExpandTime*0.75;
        }
        .linkBox:nth-of-type(2) {
          transform: translateY(-50%) rotate(-45deg);
          transition-delay: $menuExpandTime*0.75 + $linkFanTime/2;
        }
        .linkBox:nth-of-type(3) {
          transform: translateY(-50%) rotate(-75deg);
          transition-delay: $menuExpandTime*0.75 + $linkFanTime;
        }
      }

      .menuToggle {
        transform: rotate(45deg);

        &:after, &:before {
          background-color: white;
        }
      }
    }
  }
}

@media (max-height: $tablet) {
  #menuPos {
    #cornerMenu {
      .menuBg {
        .linkBox {
          padding-right: 14.5rem;
          a {
            font-size: 4.3rem;
          }
        }
      }
    }
  }
}

@media (max-height: $tablet - ( ($tablet - $mobile) * 1/3 ) ) {
  #menuPos {
    #cornerMenu {
      .menuBg {
        .linkBox {
          padding-right: 10rem;
          a {
            font-size: 4rem;
          }
        }
      }
    }
  }
}

@media (max-height: $tablet - ( ($tablet - $mobile) * 2/3 ) ) {
  #menuPos {
    #cornerMenu {
      .menuBg {
        .linkBox {
          padding-right: 6rem;
          a {
            font-size: 3.5rem;
          }
        }
      }
    }
  }
}



@media (min-width: $tablet) and (max-height: $mobile) {
  //Come in from the side

}

@media (max-width: $tablet) {

  #menuPos {
    width: 101%;
    right: -2px;
    transform: translateX(0%);
    z-index: 30;
    #cornerMenu {
      border: initial;
      max-height: 150vh;
      max-width: 150vw;

      opacity: 1.0 !important;

      .menuBg, .menuBg:after {
        border-radius: initial;
      }

      .menuBg {
        width: 105vw;
        height: 105vh;
        background-color: rgba(0,0,0,0.0);


        .linkBox {
          padding-right: 1rem;;
          right: 0rem;
          transform: translateX(100%) rotate(0deg);

          &:nth-of-type(1) {
            top: 10%;
          }
          &:nth-of-type(2) {
            top: 30%;
          }
          &:nth-of-type(3) {
            top: 50%;
          }
        }
      }

      .menuToggle {
        background-color: white;
        border-radius: 50%;
        width: $menuToggleSize * 1.5;
        height: $menuToggleSize * 1.5;
        transition: transform $menuExpandTime/2 linear,
                    background-color $menuExpandTime/2 linear;
        transition-delay: $menuExpandTime;

        &:before {
          left: $menuToggleSize * 1.5 / 2;
          top: ( ($menuToggleSize * 1.5) - $menuToggleSize ) / 2;
        }

        &:after {
          top: $menuToggleSize * 1.5 / 2;
          left: ( ($menuToggleSize * 1.5) - $menuToggleSize ) / 2;
        }
      }

      &.show {
        width: 155vh;
        height: 155vh;

        .menuBg {
          background-color: black;
          background-color: rgba(0,0,0,0.9);

          .linkBox:nth-of-type(1) {
            transform: translateX(0%) rotate(0deg);
          }
          .linkBox:nth-of-type(2) {
            transform: translateX(0%) rotate(0deg);
          }
          .linkBox:nth-of-type(3) {
            transform: translateX(0%) rotate(0deg);
          }
        }

        .menuToggle {
          background-color: black;
          background-color: rgba(0,0,0,0.0);
          transition-delay: 0ms;
        }
      }
    }
  }

  @media (max-width: $mobile) {
    #menuPos {
      #cornerMenu {
        .menuBg {
          .linkBox {
            a {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: $smallMobile) {
    #menuPos {
      #cornerMenu {
        .menuBg {
          .linkBox {
            a {
              font-size: 2.5rem;
            }
          }
        }
      }
    }
  }
}



[scroll-intent="down"] #cornerMenu:not(.show) {
  opacity: 0.0;
}

.top #cornerMenu {
  opacity: 1.0 !important;
}

.no-touch {
  #menuPos {
    #cornerMenu {
      .menuBg {
        .linkBox {
          a {transition: color 100ms linear;}
          a:hover {color: #000 !important;}
        }
      }
      .menuToggle:hover {cursor: pointer;}
    }
  }
}






