<section id="footer">
  <div class="contactInfo center narrow hiddenEmail"></div>
  <div class="contactInfo left"><span class="hiddenPhoneLA"></span>&nbsp;(LA)</div>
  <div class="contactInfo center wide hiddenEmail"></div>
  <div class="contactInfo right"><span class="hiddenPhoneNY"></span>&nbsp;(NY)</div>

  <div class="socialInfo">
    <a href="//instagram.com/luxloop" target="_blank" class="iconCircle" data-social="instagram">
      <p>a</p>
    </a>
    <a href="//twitter.com/luxloop" target="_blank" class="iconCircle" data-social="twitter">
      <p style="font-size: 0.8em">c</p>
    </a>
    <a href="//facebook.com/luxloop" target="_blank" class="iconCircle" data-social="facebook">
      <p>f</p>
    </a>
    <a href="//github.com/luxloop" target="_blank" class="iconCircle hidden" data-social="github">
      <p style="font-size: 1.4em">g</p>
    </a>
    <a href="//vimeo.com/luxloop" target="_blank" class="iconCircle hidden" data-social="vimeo">
      <p>h</p>
    </a>
  </div>
</section>




{{!-- <a href="//luxloop.com/ivaylopg/" target="_blank">
      <img src="/assets/img/social/insta.svg" onerror="this.onerror=null; this.src='/assets/img/social/insta.png'" alt="insta" class="socialLink">
      </a>
    <a href="//github.com/luxloop" target="_blank">
      <img src="/assets/img/social/github.svg" onerror="this.onerror=null; this.src='/assets/img/social/github.png'" alt="github" class="socialLink">
      </a>
    <a href="//twitter.com/luxloop" target="_blank">
      <img src="/assets/img/social/twitter.svg" onerror="this.onerror=null; this.src='/assets/img/social/twitter.png'" alt="twitter" class="socialLink">
      </a>
    <a href="//vimeo.com/luxloop/" target="_blank">
      <img src="/assets/img/social/vimeo.svg" onerror="this.onerror=null; this.src='/assets/img/social/vimeo.png'" alt="vimeo" class="socialLink">
    </a> --}}
