/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Change the default font family in all browsers (opinionated).
     * 2. Correct the line height in all browsers.
     * 3. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
     * Remove the outline on focused links when they are also active or hovered
     * in all browsers (opinionated).
     */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Change the border, margin, and padding in all browsers (opinionated).
     */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'socialicons';
  src: url("/assets/fonts/socialicons.eot?20207975");
  src: url("/assets/fonts/socialicons.eot?20207975#iefix") format("embedded-opentype"), url("/assets/fonts/socialicons.woff2?20207975") format("woff2"), url("/assets/fonts/socialicons.woff?20207975") format("woff"), url("/assets/fonts/socialicons.ttf?20207975") format("truetype"), url("/assets/fonts/socialicons.svg?20207975#socialicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'code_boldregular';
  src: url("/assets/fonts/code_bold-webfont.woff2") format("woff2"), url("/assets/fonts/code_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: url("/assets/fonts/opensans-light-webfont.woff2") format("woff2"), url("/assets/fonts/opensans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight_italic';
  src: url("/assets/fonts/opensans-lightitalic-webfont.woff2") format("woff2"), url("/assets/fonts/opensans-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url("/assets/fonts/opensans-regular-webfont.woff2") format("woff2"), url("/assets/fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mark_my_wordsregular';
  src: url("/assets/fonts/mark_my_words-webfont.woff2") format("woff2"), url("/assets/fonts/mark_my_words-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* HTML5 Boilerplate: opinionated defaults */
/* ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-tap-highlight-color: transparent;
}

*, *:before, *:after {
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::-moz-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ========================================================================== */
.gridContainer::after {
  clear: both;
  content: "";
  display: block;
}

.column {
  width: calc(100% - 2rem);
  float: left;
  margin-left: 1rem;
}

@media only screen and (min-width: 500px) {
  .column8 {
    width: calc(100% - 3rem);
    float: left;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .column8 {
    width: calc(66.66667% - 5rem);
    float: left;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 500px) {
  .column6 {
    width: calc(50% - 2.25rem);
    float: left;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 500px) {
  .column4 {
    width: calc(100% - 3rem);
    float: left;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .column4 {
    width: calc(33.33333% - 4rem);
    float: left;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 500px) {
  .column4-6 {
    width: calc(50% - 2.25rem);
    float: left;
    margin-left: 1.5rem;
  }
}

@media only screen and (min-width: 800px) {
  .column4-6 {
    width: calc(33.33333% - 4rem);
    float: left;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 800px) {
  .column3 {
    width: calc(25% - 3.75rem);
    float: left;
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 500px) {
  .column4 {
    width: calc(66.66667% - 2.5rem);
    float: left;
    margin-left: 1.5rem;
    margin-left: calc(16.66667% - 1.75rem + 3rem);
  }
}

@media only screen and (min-width: 800px) {
  .column4 {
    width: calc(33.33333% - 4rem);
    float: left;
    margin-left: 3rem;
    margin-left: calc(0% - 3rem + 6rem);
  }
}

.blurbGridContainer::after {
  clear: both;
  content: "";
  display: block;
}

.blurbColumn {
  width: calc(100%);
  float: left;
  margin-left: 0px;
}

@media only screen and (min-width: 800px) {
  .blurbCol3 {
    width: calc(25%);
    float: left;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .blurbCol4 {
    width: calc(33.33333%);
    float: left;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .blurbCol8 {
    width: calc(66.66667%);
    float: left;
    margin-left: 0px;
  }
}

@media only screen and (min-width: 800px) {
  .blurbCol9 {
    width: calc(75%);
    float: left;
    margin-left: 0px;
  }
}

.underlined {
  text-decoration: underline;
}

.strike {
  text-decoration: line-through;
}

.smaller {
  font-size: 0.85em;
}

.moreSmaller {
  font-size: 0.7em;
}

.centered {
  text-align: center;
}

.bolder {
  font-family: "open_sansregular", sans-serif;
}

.italic {
  font-style: italic;
}

.justLeft {
  text-align: left;
}

::-moz-selection {
  background: #ddd;
}

::selection {
  background: #ddd;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1em;
}

a {
  text-decoration: none;
}

.floatLeft {
  position: absolute;
  top: 0px;
  left: 0px;
}

.floatRight {
  position: absolute;
  top: 0px;
  right: 0px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.quarter {
  width: 25%;
}

.three-quarter {
  width: 75%;
}

.half {
  width: 50%;
}

.enableFade {
  -webkit-transition: opacity 800ms linear;
  transition: opacity 800ms linear;
}

.fadeOut {
  opacity: 0.0 !important;
}

.fadeIn {
  opacity: 1.0 !important;
}

.fitVid {
  z-index: 10;
}

.aspect {
  position: relative;
  width: 100%;
}

.aspect.ratio-1-1 {
  padding-bottom: 100%;
}

.aspect.ratio-1-2 {
  padding-bottom: 50%;
}

.aspect.ratio-2-1 {
  padding-bottom: 200%;
}

.aspect.ratio-1-3 {
  padding-bottom: 33.333%;
}

.aspect.ratio-3-1 {
  padding-bottom: 300%;
}

.aspect.ratio-3-4 {
  padding-bottom: 75%;
}

.aspect.ratio-4-3 {
  padding-bottom: 133.333%;
}

.aspect.ratio-2-3 {
  padding-bottom: 66.666%;
}

.aspect.ratio-3-2 {
  padding-bottom: 150%;
}

.aspect.ratio-9-16 {
  padding-bottom: 56.25%;
}

.aspect.ratio-16-9 {
  padding-bottom: 177.777%;
}

.aspectContent {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0 !important;
}

.no-touch a.linkAnim:hover {
  text-decoration: underline;
}

.csstransforms.csstransitions a.linkAnim {
  text-decoration: none;
  position: relative;
}

.csstransforms.csstransitions a.linkAnim:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px !important;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.csstransforms.csstransitions.no-touch a.linkAnim:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.no-touch a.linkAnimBoxed:hover p:first-of-type {
  text-decoration: underline;
}

.csstransforms.csstransitions a.linkAnimBoxed p:first-of-type {
  text-decoration: none;
  position: relative;
}

.csstransforms.csstransitions a.linkAnimBoxed p:first-of-type:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px !important;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.csstransforms.csstransitions.no-touch a.linkAnimBoxed:hover p:first-of-type:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

@-webkit-keyframes bounceSpread {
  0% {
    border-radius: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    border-radius: 0%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    box-shadow: 0px 0px 0px 0px #3b6dff;
  }
  30%, 35% {
    border-radius: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px #3b6dff;
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(12, 20);
            transform: scale(12, 20);
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px #3b6dff;
  }
}

@keyframes bounceSpread {
  0% {
    border-radius: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  15% {
    border-radius: 0%;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    box-shadow: 0px 0px 0px 0px #3b6dff;
  }
  30%, 35% {
    border-radius: 0%;
    -webkit-transform: scale(1);
            transform: scale(1);
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px #3b6dff;
  }
  100% {
    border-radius: 50%;
    -webkit-transform: scale(12, 20);
            transform: scale(12, 20);
    border-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 0px 0px #3b6dff;
  }
}

#menuPos {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1700px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  z-index: 30;
}

#menuPos #cornerMenu {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 100% 100%;
  border-left: solid #eee 2px;
  border-bottom: solid #eee 2px;
  width: 5rem;
  height: 5rem;
  max-height: 800px;
  max-width: 800px;
  z-index: 30;
  background: none;
  overflow: hidden;
  -webkit-transition: width 400ms ease-in-out, height 400ms ease-in-out, border-color 400ms linear, opacity 400ms linear;
  transition: width 400ms ease-in-out, height 400ms ease-in-out, border-color 400ms linear, opacity 400ms linear;
}

#menuPos #cornerMenu.noHide {
  opacity: 1.0 !important;
}

#menuPos #cornerMenu .menuBg, #menuPos #cornerMenu .menuBg:after {
  position: absolute;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 100% 100%;
}

#menuPos #cornerMenu .menuBg {
  width: 100vh;
  height: 100vh;
  -webkit-transition: background-color 400ms linear;
  transition: background-color 400ms linear;
  background-color: white;
}

#menuPos #cornerMenu .menuBg .linkBox {
  display: block;
  padding-right: 16rem;
  position: absolute;
  top: 0px;
  right: 0px;
  top: 1.75rem;
  right: 1.75rem;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 300ms linear, -webkit-transform 300ms ease-in-out;
  transition: opacity 300ms linear, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms linear;
  transition: transform 300ms ease-in-out, opacity 300ms linear, -webkit-transform 300ms ease-in-out;
  -webkit-transform: translateY(-50%) rotate(-120deg);
          transform: translateY(-50%) rotate(-120deg);
  opacity: 0.0;
}

#menuPos #cornerMenu .menuBg .linkBox a {
  color: #ffffff;
  font-family: "code_boldregular", sans-serif;
  text-decoration: none;
  font-size: 4.8rem;
}

#menuPos #cornerMenu .menuToggle {
  width: 1.5rem;
  height: 1.5rem;
  color: white;
  font-family: "code_boldregular", sans-serif;
  position: absolute;
  top: 1rem;
  right: 1rem;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

#menuPos #cornerMenu .menuToggle:after, #menuPos #cornerMenu .menuToggle:before {
  -webkit-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: black;
}

#menuPos #cornerMenu .menuToggle:before {
  content: "";
  position: absolute;
  left: 0.75rem;
  top: 0rem;
  height: 1.5rem;
  width: 0.21429rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#menuPos #cornerMenu .menuToggle:after {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0rem;
  width: 1.5rem;
  height: 0.21429rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#menuPos #cornerMenu.show {
  width: 100vh;
  height: 100vh;
  border-color: white;
  border-color: rgba(255, 255, 255, 0);
}

#menuPos #cornerMenu.show .menuBg {
  background-color: #3b6dff;
}

#menuPos #cornerMenu.show .menuBg .linkBox {
  opacity: 1.0;
}

#menuPos #cornerMenu.show .menuBg .linkBox:nth-of-type(1) {
  -webkit-transform: translateY(-50%) rotate(-15deg);
          transform: translateY(-50%) rotate(-15deg);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

#menuPos #cornerMenu.show .menuBg .linkBox:nth-of-type(2) {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition-delay: 450ms;
          transition-delay: 450ms;
}

#menuPos #cornerMenu.show .menuBg .linkBox:nth-of-type(3) {
  -webkit-transform: translateY(-50%) rotate(-75deg);
          transform: translateY(-50%) rotate(-75deg);
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

#menuPos #cornerMenu.show .menuToggle {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menuPos #cornerMenu.show .menuToggle:after, #menuPos #cornerMenu.show .menuToggle:before {
  background-color: white;
}

@media (max-height: 800px) {
  #menuPos #cornerMenu .menuBg .linkBox {
    padding-right: 14.5rem;
  }
  #menuPos #cornerMenu .menuBg .linkBox a {
    font-size: 4.3rem;
  }
}

@media (max-height: 700px) {
  #menuPos #cornerMenu .menuBg .linkBox {
    padding-right: 10rem;
  }
  #menuPos #cornerMenu .menuBg .linkBox a {
    font-size: 4rem;
  }
}

@media (max-height: 600px) {
  #menuPos #cornerMenu .menuBg .linkBox {
    padding-right: 6rem;
  }
  #menuPos #cornerMenu .menuBg .linkBox a {
    font-size: 3.5rem;
  }
}

@media (max-width: 800px) {
  #menuPos {
    width: 101%;
    right: -2px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    z-index: 30;
  }
  #menuPos #cornerMenu {
    border: initial;
    max-height: 150vh;
    max-width: 150vw;
    opacity: 1.0 !important;
  }
  #menuPos #cornerMenu .menuBg, #menuPos #cornerMenu .menuBg:after {
    border-radius: initial;
  }
  #menuPos #cornerMenu .menuBg {
    width: 105vw;
    height: 105vh;
    background-color: transparent;
  }
  #menuPos #cornerMenu .menuBg .linkBox {
    padding-right: 1rem;
    right: 0rem;
    -webkit-transform: translateX(100%) rotate(0deg);
            transform: translateX(100%) rotate(0deg);
  }
  #menuPos #cornerMenu .menuBg .linkBox:nth-of-type(1) {
    top: 15%;
  }
  #menuPos #cornerMenu .menuBg .linkBox:nth-of-type(2) {
    top: 30%;
  }
  #menuPos #cornerMenu .menuBg .linkBox:nth-of-type(3) {
    top: 45%;
  }
}

@media (max-width: 800px) and (max-height: 500px) {
  #menuPos #cornerMenu .menuBg .linkBox:nth-of-type(1) {
    top: 15%;
  }
  #menuPos #cornerMenu .menuBg .linkBox:nth-of-type(2) {
    top: 40%;
  }
  #menuPos #cornerMenu .menuBg .linkBox:nth-of-type(3) {
    top: 65%;
  }
}

@media (max-width: 800px) {
  #menuPos #cornerMenu .menuToggle {
    background-color: white;
    border-radius: 50%;
    width: 2.25rem;
    height: 2.25rem;
    -webkit-transition: background-color 200ms linear, -webkit-transform 200ms linear;
    transition: background-color 200ms linear, -webkit-transform 200ms linear;
    transition: transform 200ms linear, background-color 200ms linear;
    transition: transform 200ms linear, background-color 200ms linear, -webkit-transform 200ms linear;
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms;
  }
  #menuPos #cornerMenu .menuToggle:before {
    left: 1.125rem;
    top: 0.375rem;
  }
  #menuPos #cornerMenu .menuToggle:after {
    top: 1.125rem;
    left: 0.375rem;
  }
  #menuPos #cornerMenu.show {
    width: 155vh;
    height: 155vh;
  }
  #menuPos #cornerMenu.show .menuBg {
    background-color: black;
    background-color: rgba(0, 0, 0, 0.9);
  }
  #menuPos #cornerMenu.show .menuBg .linkBox:nth-of-type(1) {
    -webkit-transform: translateX(0%) rotate(0deg);
            transform: translateX(0%) rotate(0deg);
  }
  #menuPos #cornerMenu.show .menuBg .linkBox:nth-of-type(2) {
    -webkit-transform: translateX(0%) rotate(0deg);
            transform: translateX(0%) rotate(0deg);
  }
  #menuPos #cornerMenu.show .menuBg .linkBox:nth-of-type(3) {
    -webkit-transform: translateX(0%) rotate(0deg);
            transform: translateX(0%) rotate(0deg);
  }
  #menuPos #cornerMenu.show .menuToggle {
    background-color: black;
    background-color: transparent;
    -webkit-transition-delay: 0ms;
            transition-delay: 0ms;
  }
}

@media (max-width: 800px) and (max-width: 500px) {
  #menuPos #cornerMenu .menuBg .linkBox a {
    font-size: 3rem;
  }
}

@media (max-width: 800px) and (max-width: 380px) {
  #menuPos #cornerMenu .menuBg .linkBox a {
    font-size: 2.5rem;
  }
}

[scroll-intent="down"] #cornerMenu:not(.show) {
  opacity: 0.0;
}

.top #cornerMenu {
  opacity: 1.0 !important;
}

.no-touch #menuPos #cornerMenu .menuBg .linkBox a {
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

.no-touch #menuPos #cornerMenu .menuBg .linkBox a:hover {
  color: #000 !important;
}

.no-touch #menuPos #cornerMenu .menuToggle:hover {
  cursor: pointer;
}

#footer {
  min-height: 15vh;
  width: 100%;
  position: relative;
  background: white;
  text-align: center;
  font-family: "code_boldregular", sans-serif;
  padding-top: 3rem;
  padding-bottom: 4rem;
  font-size: 1.2em;
}

#footer a {
  color: #000;
}

#footer .contactInfo {
  display: inline-block;
  margin: 0;
  width: auto;
}

#footer .contactInfo.narrow {
  display: none;
}

#footer .contactInfo.left {
  text-align: right;
  padding-right: 1rem;
}

#footer .contactInfo.center {
  text-align: center;
  width: 33%;
}

#footer .contactInfo.right {
  text-align: left;
  padding-left: 1rem;
}

@media (max-width: 500px) {
  #footer .contactInfo, #footer .contactInfo.left, #footer .contactInfo.center, #footer .contactInfo.right {
    width: 100%;
    text-align: center;
    padding: initial;
    padding-bottom: 1rem;
  }
  #footer .contactInfo.narrow {
    display: inherit;
  }
  #footer .contactInfo.wide {
    display: none;
  }
}

#footer .socialInfo {
  font-family: 'socialicons';
  margin: 0 auto;
  margin-top: 3rem;
}

#footer .socialInfo .iconCircle {
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
  margin-left: 1em;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-color: #3b6dff;
  text-decoration: none;
  font-size: 1.2rem;
}

#footer .socialInfo .iconCircle p {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

#footer .socialInfo img {
  width: 30px;
}

.no-touch #footer .iconCircle {
  -webkit-transition: background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.no-touch #footer .iconCircle:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: black;
}

/* HTML5 Helper classes */
/* ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* Print Styles  */
/* ========================================================================== */
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ========================================================================== */
@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@-o-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

body, html {
  font-size: 100%;
  background: #fafafa;
}

body {
  color: #000;
  background: none;
  font-family: "open_sanslight", sans-serif;
}

.opacity.js body.enableFade {
  opacity: 0.0;
}

.opacity.js body.enableFade.showBody {
  opacity: 1.0;
}

.blockContainer, .blockButton, #homePage #whatWeDoButton, #projects #projectsList .projectEntry .bigBlockButton {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  border: solid black 2px;
  background-color: white;
  box-shadow: 12px 11px 0px 0px #3b6dff;
}

.blockContainer .buttonImg, .blockButton .buttonImg, #homePage #whatWeDoButton .buttonImg, #projects #projectsList .projectEntry .bigBlockButton .buttonImg {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
}

.blockContainer .blockText, .blockButton .blockText, #homePage #whatWeDoButton .blockText, #projects #projectsList .projectEntry .bigBlockButton .blockText {
  font-family: "code_boldregular", sans-serif;
  font-size: 2rem;
}

.blockTextBR {
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0rem 1.3rem 1rem 0rem;
}

.blockTextTL {
  margin: 4rem 2rem 1.3rem 1rem;
}

.blockButton, #homePage #whatWeDoButton, #projects #projectsList .projectEntry .bigBlockButton {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 20;
  border-radius: 0%;
  -webkit-transition: background-color 700ms ease-in-out;
  transition: background-color 700ms ease-in-out;
}

.blockButton .blockTextBR, #homePage #whatWeDoButton .blockTextBR, #projects #projectsList .projectEntry .bigBlockButton .blockTextBR, .blockButton .blockTextTL, #homePage #whatWeDoButton .blockTextTL, #projects #projectsList .projectEntry .bigBlockButton .blockTextTL, .blockButton .buttonImg, #homePage #whatWeDoButton .buttonImg, #projects #projectsList .projectEntry .bigBlockButton .buttonImg {
  opacity: 1.0;
  -webkit-transition: opacity 175ms ease-in-out;
  transition: opacity 175ms ease-in-out;
}

.blockButton.expandButton.expand, #homePage .expandButton.expand#whatWeDoButton, #projects #projectsList .projectEntry .expandButton.expand.bigBlockButton {
  -webkit-animation: bounceSpread 700ms ease-in-out forwards;
  animation: bounceSpread 700ms ease-in-out forwards;
  background-color: #fafafa;
  z-index: 99 !important;
}

.blockButton.expandButton.expand .blockTextBR, #homePage .expandButton.expand#whatWeDoButton .blockTextBR, #projects #projectsList .projectEntry .expandButton.expand.bigBlockButton .blockTextBR, .blockButton.expandButton.expand .blockTextTL, #homePage .expandButton.expand#whatWeDoButton .blockTextTL, #projects #projectsList .projectEntry .expandButton.expand.bigBlockButton .blockTextTL, .blockButton.expandButton.expand .buttonImg, #homePage .expandButton.expand#whatWeDoButton .buttonImg, #projects #projectsList .projectEntry .expandButton.expand.bigBlockButton .buttonImg {
  opacity: 0.0;
}

.no-touch .blockButton:hover, .no-touch #homePage #whatWeDoButton:hover, #homePage .no-touch #whatWeDoButton:hover, .no-touch #projects #projectsList .projectEntry .bigBlockButton:hover, #projects #projectsList .projectEntry .no-touch .bigBlockButton:hover {
  left: 3px;
  top: 3px;
  box-shadow: 9px 8px 0px 0px #3b6dff;
}

.pageContainer {
  position: relative;
  width: 100vw;
  max-width: 1700px;
  margin: 0 auto;
}

#linesBg {
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 50vw;
  width: 100vw;
  max-width: 1700px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100vh;
  overflow: hidden;
  background: #fff;
}

#linesBg img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  opacity: 0.1;
}

#pageTitleBox {
  position: absolute;
  width: 30%;
  bottom: 6rem;
  right: 3rem;
}

#pageTitleBox p {
  margin: 0px;
}

#pageTitleBox .title {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  padding-right: 1.5rem;
  padding-left: 33%;
  line-height: 3rem;
  text-align: right;
  font-size: 40px;
  font-size: 2.9vw;
}

@media (max-width: 689.65517px) {
  #pageTitleBox .title {
    font-size: 20px;
  }
}

@media (min-width: 1724.13793px) {
  #pageTitleBox .title {
    font-size: 50px;
  }
}

@media (min-width: 1000px) {
  #pageTitleBox .title {
    bottom: 1.5rem;
  }
}

#pageTitleBox .subTitle {
  font-family: "open_sanslight", sans-serif;
  font-size: 1.5rem;
}

#pageCover {
  position: absolute;
  top: 0px;
  left: 0px;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1133.33333px;
  background: white;
}

#pageCover .coverImage {
  position: absolute;
  top: 0px;
  left: 0px;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

#pageCover .coverImage img, #pageCover .coverImage video {
  height: 100%;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1.0;
}

#pageCover .coverImage img.stretchWide, #pageCover .coverImage video.stretchWide {
  width: 100%;
  height: auto;
}

#pageCover .topBar, #pageCover .bottomBar {
  position: absolute;
  width: 100%;
  height: 6rem;
  background: white;
}

#pageCover .topBar {
  top: 0px;
  opacity: 0.0;
}

#pageCover .bottomBar {
  bottom: 0px;
}

#blurb {
  position: absolute;
  top: 0px;
  left: 0px;
  position: relative;
  width: 100%;
}

#blurb .blurbImage .aspectContent {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

#blurb .blurbCopy p {
  font-family: "open_sanslight_italic", sans-serif;
  padding: 3rem;
  font-size: 2.5rem;
  margin: 0 0;
}

#alternatingImages {
  position: relative;
  overflow: hidden;
  margin-bottom: -25vh;
}

#alternatingImages .showcaseImage {
  position: relative;
  background: #999;
}

#alternatingImages .showcaseImage .aspectContent {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
}

#alternatingImages .showcaseImage .captionLeft, #alternatingImages .showcaseImage .captionRight {
  position: absolute;
  bottom: 2px;
  color: #777;
  z-index: 2;
  font-size: 0.8rem;
  font-style: italic;
}

#alternatingImages .showcaseImage .captionRight {
  right: 8px;
}

#alternatingImages .showcaseImage .captionLeft {
  left: 4px;
}

#alternatingImages .showcaseImage:nth-of-type(1), #alternatingImages.v1 .showcaseImage:nth-of-type(1) {
  width: 50%;
  left: 50%;
  z-index: 3;
}

#alternatingImages .showcaseImage:nth-of-type(2), #alternatingImages.v1 .showcaseImage:nth-of-type(2) {
  width: 75%;
  top: -20vh;
  z-index: 2;
}

#alternatingImages .showcaseImage:nth-of-type(3), #alternatingImages.v1 .showcaseImage:nth-of-type(3) {
  width: 100%;
  top: -25vh;
  left: 3rem;
  z-index: 1;
}

#alternatingImages .showcaseImage:nth-of-type(4), #alternatingImages.v1 .showcaseImage:nth-of-type(4) {
  width: 75%;
  top: -20vh;
  z-index: 2;
}

#alternatingImages .showcaseImage:nth-of-type(5), #alternatingImages.v1 .showcaseImage:nth-of-type(5) {
  width: 100%;
  top: -25vh;
  left: 3rem;
  z-index: 1;
}

#alternatingImages.v2 .showcaseImage:nth-of-type(1) {
  width: 80%;
  left: 0%;
  z-index: 1;
}

#alternatingImages.v2 .showcaseImage:nth-of-type(2) {
  width: 50%;
  left: 50%;
  top: -20vh;
  z-index: 2;
}

#alternatingImages.v2 .showcaseImage:nth-of-type(3) {
  width: 75%;
  top: -25vh;
  left: 0px;
  z-index: 3;
}

#alternatingImages.v2 .showcaseImage:nth-of-type(4) {
  width: 50%;
  left: 50%;
  top: -20vh;
  z-index: 2;
}

#alternatingImages.v2 .showcaseImage:nth-of-type(5) {
  width: 75%;
  top: -25vh;
  left: 0px;
  z-index: 3;
}

#cornerLogo {
  font-family: "mark_my_wordsregular";
  font-size: 5rem;
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  padding: 0rem 1rem;
}

#cornerLogo a {
  color: #3b6dff;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

#cornerLogo a:hover {
  color: white;
}

.fullWidthMedia {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.fullWidthMedia img, .fullWidthMedia video {
  width: 100%;
  height: auto;
}

.fullWidthMedia .parallax.cropped img {
  width: 130%;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fullWidthMedia .floatQuote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fullWidthCopy {
  width: 100%;
  padding: 6rem 3rem;
  font-size: 1.5rem;
  text-align: justify;
  position: relative;
}

.fullWidthCopy h1 {
  font-family: "code_boldregular", sans-serif;
  padding: 0px;
  margin: 0px;
}

.fullWidthCopy p {
  font-family: "open_sanslight", sans-serif;
  font-size: 1.5rem;
  padding: 1rem 0rem;
}

.showcaseBoxes {
  position: relative;
}

.showcaseBoxes .boxesHead {
  text-align: center;
}

.showcaseBoxes .boxesHead h1 {
  font-family: "code_boldregular", sans-serif;
  font-size: 2rem;
  margin-top: 4rem;
}

.showcaseBoxes .boxesBox .aspect {
  width: 90%;
  margin: 1rem auto;
}

.showcaseBoxes .boxesBox .aspect .aspectContent .blockContainer, .showcaseBoxes .boxesBox .aspect .aspectContent .blockButton, .showcaseBoxes .boxesBox .aspect .aspectContent #homePage #whatWeDoButton, #homePage .showcaseBoxes .boxesBox .aspect .aspectContent #whatWeDoButton, .showcaseBoxes .boxesBox .aspect .aspectContent #projects #projectsList .projectEntry .bigBlockButton, #projects #projectsList .projectEntry .showcaseBoxes .boxesBox .aspect .aspectContent .bigBlockButton {
  background: #fafafa;
  width: 100%;
  height: 100%;
}

#homePage #pageCover {
  height: 90vh;
}

#homePage #bigLuxLogoBox {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: none;
}

#homePage #bigLuxLogoBox::before {
  content: "";
  border: black solid 2px;
  background: white;
  position: absolute;
  top: -5px;
  left: -5px;
  right: 5px;
  bottom: 5px;
}

#homePage #bigLuxLogoBox::after {
  content: "";
  border: black solid 2px;
  background: white;
  position: absolute;
  top: 5px;
  left: 5px;
  right: -5px;
  bottom: -5px;
}

#homePage #bigLuxLogoBox h1 {
  position: relative;
  font-family: "mark_my_wordsregular";
  color: #3b6dff;
  font-size: 8rem;
  margin: 7rem 10rem;
  z-index: 5;
}

@media (min-width: 800px) {
  #homePage #bigLuxLogoBox h1:after {
    font-family: "open_sansregular", sans-serif;
    font-size: 0.7rem;
    color: rgba(0, 0, 0, 0.5);
    content: "An Experience-design and Production Studio";
    position: absolute;
    left: 3.3rem;
    bottom: 1.8rem;
  }
}

#homePage #bigLuxLogoBox .topline {
  border-right: black solid 2px;
  border-bottom: black solid 2px;
  background: none;
  position: absolute;
  top: -5px;
  left: -5px;
  right: 5px;
  bottom: 5px;
  z-index: 6;
}

#homePage #coolIfHolder {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

#homePage #coolIfHolder div {
  display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5em;
  font-family: "open_sanslight", sans-serif;
}

#homePage #coolIfHolder #coolIfPrompt {
  width: 30%;
  text-align: right;
}

#homePage #coolIfHolder #coolIfExample {
  width: 69.5%;
  text-align: center;
}

#homePage #coolIfHolder #coolIfExample:after {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px !important;
  bottom: -2px;
  left: 5%;
  background-color: #000;
}

#homePage #blurb {
  margin: 3rem 0rem;
  position: relative;
}

#homePage #blurb .blurbImage .aspectContent {
  background-image: url("/assets/img/bluebutterfly.jpg");
  background-position: 85% center !important;
}

#homePage #blurb .blurbCopy p {
  font-family: "open_sanslight", sans-serif;
}

#homePage #blurb .buttonHolder {
  position: absolute;
  top: 90%;
  left: 25%;
  margin: 0;
}

#homePage #whatWeDoButton {
  width: 500px;
  height: 200px;
}

#homePage #whatWeDoButton .blockText {
  font-size: 3rem;
}

#aboutPage #pageCover {
  height: 65vh;
}

#aboutPage #featuredProjects {
  margin-bottom: 8rem;
}

#contactPage #pageCover {
  height: 65vh;
}

#contactPage #contactInfo {
  position: relative;
  width: 60%;
  margin: 6rem auto;
  text-align: center;
}

#contactPage #contactInfo #footer {
  background: none;
  padding: 0rem;
}

#contactPage #contactInfo #footer .contactInfo {
  display: none;
  visibility: hidden;
}

#contactPage #contactInfo #footer .socialInfo {
  margin: 0;
}

#contactPage #contactInfo .column {
  margin-top: 4rem;
  font-size: 1.5rem;
}

#contactPage #contactInfo .column h1 {
  font-family: "code_boldregular", sans-serif;
  margin: 0;
}

#contactPage #contactInfo .column .contactInfo {
  color: black;
  margin: 0.1rem 0rem 1.5rem 0rem;
}

#contactPage #contactInfo .column .contactInfo a {
  color: black;
}

#contactPage input[type="color"], #contactPage input[type="date"], #contactPage input[type="datetime"], #contactPage input[type="datetime-local"], #contactPage input[type="email"], #contactPage input[type="month"], #contactPage input[type="number"], #contactPage input[type="password"], #contactPage input[type="search"], #contactPage input[type="tel"], #contactPage input[type="text"], #contactPage input[type="time"], #contactPage input[type="url"], #contactPage input[type="week"], #contactPage input:not([type]), #contactPage textarea {
  border: 1px solid #ccc;
  font-family: "open_sanslight", sans-serif;
  height: 2rem;
  width: 50%;
  max-width: 18rem;
  text-align: center;
  font-size: 1rem;
}

#contactPage button, #contactPage input[type="button"], #contactPage input[type="reset"], #contactPage input[type="submit"] {
  height: 2rem;
  width: 8rem;
  font-family: "open_sanslight", sans-serif;
  background: #3b6dff;
  color: white;
  border: none;
  padding-bottom: 1px;
  text-align: center;
  font-size: 1rem;
}

#contactPage input[type="color"]:focus, #contactPage input[type="date"]:focus, #contactPage input[type="datetime"]:focus, #contactPage input[type="datetime-local"]:focus, #contactPage input[type="email"]:focus, #contactPage input[type="month"]:focus, #contactPage input[type="number"]:focus, #contactPage input[type="password"]:focus, #contactPage input[type="search"]:focus, #contactPage input[type="tel"]:focus, #contactPage input[type="text"]:focus, #contactPage input[type="time"]:focus, #contactPage input[type="url"]:focus, #contactPage input[type="week"]:focus, #contactPage input:not([type]):focus, #contactPage textarea:focus, #contactPage button:focus, #contactPage input[type="button"]:focus, #contactPage input[type="reset"]:focus, #contactPage input[type="submit"]:focus {
  outline: none;
}

.no-touch button:hover, .no-touch input[type="button"]:hover, .no-touch input[type="reset"]:hover, .no-touch input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

#projects #pageCover {
  height: 65vh;
  background: initial;
}

#projects #projectsList {
  margin-top: 6rem;
}

#projects #projectsList .projectEntry {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 10vh;
}

#projects #projectsList .projectEntry .projectImage {
  width: 70%;
  overflow: hidden;
}

#projects #projectsList .projectEntry .projectImage .aspectContent {
  overflow: hidden;
  padding: 0px;
}

#projects #projectsList .projectEntry .projectImage img {
  width: 130%;
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#projects #projectsList .projectEntry .bigBlockButton {
  height: 15vw;
  width: 30vw;
  min-height: 100px;
  max-height: 200px;
  min-width: 250px;
  max-width: 400px;
}

#projects #projectsList .projectEntry .buttonHolder {
  position: absolute;
  left: 60%;
  bottom: -2vh;
}

#projects #projectsList .projectEntry .buttonHolder .projTitle {
  text-align: right;
  font-size: 1.8rem;
}

#projects #projectsList .projectEntry .buttonHolder .projTitle p {
  margin: 0px;
}

#projects #projectsList .projectEntry .buttonHolder .projTitle p:first-of-type {
  display: inline;
}

#projects #projectsList .projectEntry .buttonHolder .projTitle p:nth-of-type(2) {
  font-size: 1.2rem;
  font-family: "open_sanslight", sans-serif;
}

#projects #projectsList .projectEntry:nth-of-type(even) .projectImage {
  margin-left: 30%;
}

#projects #projectsList .projectEntry:nth-of-type(even) .buttonHolder {
  left: initial;
  right: 60%;
}

@media (min-width: 800px) {
  #projectPage #pageTitleBox {
    padding-left: 2rem;
  }
}

#projectPage a {
  color: #000;
  text-decoration: none;
}

#projectPage #pageCover {
  height: 80vh;
}

#projectPage #projectInfo {
  position: relative;
  margin: 2rem 3rem;
  margin-top: 6rem;
}

#projectPage #projectInfo h1 {
  font-family: "code_boldregular", sans-serif;
  margin-top: 0px;
}

#projectPage #projectInfo .title, #projectPage #projectInfo .description {
  padding-left: 2rem;
}

#projectPage #projectInfo .description {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 3rem;
}

#projectPage #projectInfo .description p:first-of-type {
  margin-top: 0rem;
}

#projectPage #projectInfo .description img, #projectPage #projectInfo .description .fitVid {
  width: 100%;
  padding: 2rem 0;
}

#projectPage #projectInfo .details {
  margin-bottom: 2rem;
}

@media (min-width: 800px) {
  #projectPage #projectInfo .details {
    padding-left: 2rem;
  }
}

#projectPage #projectInfo .details p, #projectPage #projectInfo .details li {
  font-size: 0.9rem;
}

#projectPage #projectInfo .details h1 {
  margin: 2rem 0rem 0rem 0rem;
}

#projectPage #projectInfo .details h1:first-of-type {
  margin: 0rem;
}

#projectPage #projectInfo .details ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

#projectPage #projectInfo .details ul li {
  margin-top: 0.2rem;
}

#projectPage #projectInfo .details a {
  color: #000;
}

#projectPage #projectInfo .details a.linkAnim:before, #projectPage #projectInfo .details a.linkAnimBoxed:before {
  height: 1px !important;
}

#projectPage #projectInfo .details .teamEntry {
  margin-top: 1rem;
}

#projectPage #projectInfo .details .teamEntry:first-of-type {
  margin-top: 0rem;
}

#projectPage #projectInfo .details .teamEntry p {
  margin: 0rem;
}

#projectPage #projectInfo .details .teamEntry .role {
  font-family: "open_sanslight_italic", sans-serif;
}

@media (max-width: 1000px) {
  #homePage #blurb .blurbCopy p {
    font-size: 2rem;
  }
  #homePage #blurb .buttonHolder {
    left: 10%;
  }
  #homePage #whatWeDoButton {
    width: 400px;
    height: 160px;
  }
  #homePage #whatWeDoButton .blockText {
    font-size: 2.5rem;
  }
  #pageTitleBox {
    width: 30%;
    bottom: 3rem;
    right: initial;
    left: 4.5rem;
    min-width: 300px;
  }
  #pageTitleBox .title {
    font-size: 2rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  #pageTitleBox .subTitle {
    font-size: 1.8rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle {
    font-size: 1.5rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle p:nth-of-type(2) {
    font-size: 1rem;
  }
  #projectPage #projectInfo {
    margin: inherit;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #contactPage #contactInfo {
    width: 80%;
    text-align: center;
  }
  #contactPage #contactInfo .column {
    font-size: 1.2rem;
  }
}

@media (max-width: 800px) {
  .noShowTablet {
    display: none !important;
  }
  .blockTextBR {
    margin: 0rem 0.9rem 0.6rem 0rem;
  }
  .blockTextTL {
    margin: 4rem 2rem 0.6rem 0.9rem;
  }
  #alternatingImages {
    overflow: hidden;
    margin: 0px;
  }
  #alternatingImages .showcaseImage {
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
    z-index: 3 !important;
    margin: 1rem 0rem !important;
  }
  .fullWidthCopy {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }
  .fullWidthCopy p {
    font-size: 1.1rem;
  }
  .fullWidthMedia .floatQuote .blockText {
    font-size: 1.5rem;
  }
  #homePage #bigLuxLogoBox h1 {
    font-size: 6rem;
    margin: 5rem 6.5rem;
  }
  #homePage #blurb {
    margin-bottom: 10rem;
  }
  #homePage #blurb .buttonHolder {
    left: 50%;
    margin: 2rem 0rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 5;
  }
  #homePage #whatWeDoButton {
    height: 120px;
    width: 300px;
  }
  #homePage #whatWeDoButton .blockText {
    font-size: 2rem;
  }
  #projects #projectsList .projectEntry .projectImage {
    width: 100%;
  }
  #projects #projectsList .projectEntry .buttonHolder {
    left: 2rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle {
    font-size: 1.5rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle p:nth-of-type(2) {
    font-size: 1rem;
  }
  #projects #projectsList .projectEntry:nth-of-type(even) .projectImage {
    margin-left: 0px;
  }
  #projects #projectsList .projectEntry:nth-of-type(even) .buttonHolder {
    right: 2rem;
  }
  #pageTitleBox {
    left: 1rem;
  }
  #contactPage #contactInfo {
    width: 100%;
    text-align: center;
  }
  #projectPage #projectInfo .title, #projectPage #projectInfo .description {
    padding-left: initial;
  }
  #projectPage #projectInfo .description {
    margin-bottom: 4rem;
  }
}

@media (max-width: 500px) {
  .noShowMobile {
    display: none !important;
  }
  #cornerLogo {
    left: 1rem;
  }
  .fullWidthMedia .floatQuote .blockText {
    font-size: 1rem;
  }
  #aboutPage .fullWidthCopy {
    margin-top: 8rem;
  }
  #homePage #bigLuxLogoBox h1 {
    font-size: 4.8rem;
    margin: 4rem 4rem;
  }
  #homePage #blurb .blurbCopy p {
    font-size: 1.8rem;
  }
  #homePage #whatWeDoButton {
    height: 80px;
    width: 200px;
  }
  #homePage #whatWeDoButton .blockText {
    font-size: 1.5rem;
  }
  #projects #projectsList {
    margin-top: 10rem;
  }
  #projects #projectsList .projectEntry .buttonHolder {
    left: 5%;
    width: 90%;
  }
  #projects #projectsList .projectEntry .buttonHolder .projectBlockButton {
    width: 100%;
    min-width: initial;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle {
    font-size: 1.5rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle p:nth-of-type(2) {
    font-size: 1rem;
  }
  #projects #projectsList .projectEntry:nth-of-type(even) .projectImage {
    margin-left: 0px;
  }
  #projects #projectsList .projectEntry:nth-of-type(even) .buttonHolder {
    left: 5%;
    right: initial;
  }
  #pageTitleBox {
    bottom: -4rem;
    left: 0.5rem;
    width: 50%;
  }
  #projectPage #pageCover {
    padding: 0rem 0.5rem;
  }
  #projectPage #projectInfo {
    margin-top: 6rem;
  }
}

@media (max-width: 380px) {
  #cornerLogo {
    left: 1rem;
  }
  .fullWidthMedia .floatQuote .blockText {
    font-size: 0.7rem;
  }
  #homePage #bigLuxLogoBox h1 {
    font-size: 3rem;
    margin: 3rem 4rem;
  }
  #pageTitleBox {
    min-width: 200px;
  }
  #pageTitleBox .title {
    font-size: 2rem;
  }
  #pageTitleBox .subTitle {
    font-size: 1.5rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle {
    font-size: 1rem;
  }
  #projects #projectsList .projectEntry .buttonHolder .projTitle p:nth-of-type(2) {
    font-size: 0.8rem;
  }
}

@media (min-width: 800px) {
  .noShowLarge {
    display: none !important;
  }
}

/* ========================================================================== */
