@import "normalize/import-now";

@import "bourbon";
@import "neat";

@import "partials/font";
@import "partials/bpDefaults";

/* ========================================================================== */

///////////////////////
// Global Vars
$smallMobile:  380px;
$mobile:  500px;
$tablet:  800px;
$smallScreen: $tablet * 1.25;
$max-width: 1700px;

$pageMargin: 3rem;

$bgColor: #fff;
$textColor: #000;
$selectColor: #ddd;
$defaultWeight: 100;

$headerFont: 'code_proregular', sans-serif;
$bodyFont: 'open_sanslight', sans-serif;
$bodyFontBold: 'open_sansregular', sans-serif;
$blurbFont: 'open_sanslight_italic', sans-serif;
$logoFont: 'mark_my_wordsregular';

$boxLinkTransitionTime: 700ms;
$boxTransitionColor: #fafafa; //rgb(255,95,94);

// Front Page Vars
$frontPageColor: rgb(59,109,255);

// Projects Page Vars
$projImageWidth: 70%;
$projLabelOffset: $projImageWidth - 10;

///////////////////////
// Grid

$neat-grid: (
  gutter: 1rem,
);

$smallGrid: (
  gutter: $pageMargin/3,
  media: $smallMobile,
);

$mediumGrid: (
  gutter: $pageMargin/2,
  media: $mobile,
);

$smallScreenGrid: (
  gutter: $pageMargin/2,
  media: $smallScreen,
);

$largeGrid: (
  gutter: $pageMargin,
  media: $tablet,
);

.gridContainer {@include grid-container;}
.column {
  @include grid-column;
}

.column8 {
  @include grid-media($mediumGrid){
    @include grid-column(12);
  }
  @include grid-media($largeGrid){
    @include grid-column(8);
  }
}

.column6 {
  @include grid-media($mediumGrid){
    @include grid-column(6);
  }
}

// .column4 {
//   @include grid-media($mediumGrid){
//     @include grid-column(12);
//   }
//   @include grid-media($largeGrid){
//     @include grid-column(4);
//   }
// }

.column4 {
  @include grid-media($mediumGrid){
    @include grid-column(8);
    @include grid-push(2);
  }

  @include grid-media($largeGrid){
    @include grid-column(4);
    @include grid-push(0)
  }
}

.column4-center {
  @include grid-media($mediumGrid){
    @include grid-column(8);
    @include grid-push(2);
  }

  @include grid-media($largeGrid){
    @include grid-column(4);
    @include grid-push(4)
  }
}


.column4-6 {
  @include grid-media($mediumGrid){
    @include grid-column(6);
  }
  @include grid-media($largeGrid){
    @include grid-column(4);
  }
}

.column3 {
  @include grid-media($largeGrid){
    @include grid-column(3);
  }
}

.columnLogos {

  @include grid-media($smallGrid){
    @include grid-column(3);
    @include grid-push(0);
  }

  // @include grid-media($mediumGrid){
  //   @include grid-column(2);
  //   @include grid-push(0);
  // }

  @include grid-media($largeGrid){
    @include grid-column(2);
    @include grid-push(0)
  }
}


$blurbGrid: (
  gutter: 0px,
);

$largeBlurbGrid: (
  gutter: 0px,
  media: $tablet,
);

.blurbGridContainer {@include grid-container($blurbGrid);}
.blurbColumn {
  @include grid-column(12,$blurbGrid);
  // height: 400px;
}

.blurbCol3 {
  @include grid-media($largeBlurbGrid){
    @include grid-column(3);
  }
}

.blurbCol4 {
  @include grid-media($largeBlurbGrid){
    @include grid-column(4);
  }
}

.blurbCol8 {
  @include grid-media($largeBlurbGrid){
    @include grid-column(8);
  }
}

.blurbCol9 {
  @include grid-media($largeBlurbGrid){
    @include grid-column(9);
  }
}


///////////////////////
// Global Helpers

@mixin fullBg {
  background-repeat: no-repeat !important;
  // background-attachment: fixed;
  background-position: center center !important;
  background-size: cover !important;
}

@mixin absTopLeft {
  //@include position(absolute, 0px null null 0px);
  position: absolute;
  top: 0px;
  left: 0px;
}

@mixin floatCentered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absTopRight {
  position: absolute;
  top: 0px;
  right: 0px;
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}

.underlined {text-decoration: underline;}
.strike {text-decoration: line-through;}
.smaller {font-size: 0.85em;}
.moreSmaller {font-size: 0.7em;}
//.muchSmaller {font-size: 0.7em;@include media(min-width $tablet){font-size: 0.5em;}}
.centered {text-align: center;}
.bolder {font-family: $bodyFontBold;}
.italic {font-style: italic;}
.justLeft {text-align: left;}
.uppercase {text-transform: uppercase};

.margin-top-1 {margin-top: 1rem;}
.margin-top-2 {margin-top: 2rem;}
.margin-top-3 {margin-top: 3rem;}

.margin-bottom-1 {margin-bottom: 1rem;}
.margin-bottom-2 {margin-bottom: 2rem;}
.margin-bottom-3 {margin-bottom: 3rem;}

::selection {
  background: $selectColor;
}

h1 {
  //@extend .bolder;
  font-size: 1.3em;
}

h1, h2, h3 {
  &.altFont {
    font-family: $headerFont;
  }
}

h2 {
  //@extend .bolder;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.floatLeft {@include absTopLeft;}
.floatRight {@include absTopRight;}
.relative { position: relative }
.absolute { position: absolute }

.quarter {width: 25%;}
.three-quarter {width: 75%;}
.half {width: 50%;}

.enableFade {
  transition: opacity 800ms linear;
}
.fadeOut {opacity:0.0 !important}
.fadeIn {opacity:1.0 !important}

.fitVid {z-index: 10;}

.aspect {
  position: relative;
  width: 100%;
  &.ratio-1-1 { padding-bottom: 100% }
  &.ratio-1-2 { padding-bottom: 50% }
  &.ratio-2-1 { padding-bottom: 200% }
  &.ratio-1-3 { padding-bottom: 33.333% }
  &.ratio-3-1 { padding-bottom: 300% }
  &.ratio-3-4 { padding-bottom: 75% }
  &.ratio-4-3 { padding-bottom: 133.333% }
  &.ratio-2-3 { padding-bottom: 66.666% }
  &.ratio-3-2 { padding-bottom: 150% }
  &.ratio-9-16 { padding-bottom: 56.25% }
  &.ratio-9-32 { padding-bottom: 28.125% }
  &.ratio-16-9 { padding-bottom: 177.777% }
}

.aspectContent {
  position: absolute !important;
  top: 0;  bottom: 0;  left: 0;  right: 0 !important;
  // padding: 0 24px; /* Optional padding for content area */
}

//From http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
.no-touch a.linkAnim:hover {
  text-decoration: underline;
}
.csstransforms.csstransitions a.linkAnim {
  text-decoration: none;
  position: relative;
}

.csstransforms.csstransitions a.linkAnim:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px !important;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out 0s;
}

.csstransforms.csstransitions.no-touch a.linkAnim:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
//////

//Modified for boxes
.no-touch a.linkAnimBoxed:hover {
  p:first-of-type {
    text-decoration: underline;
  }
}
.csstransforms.csstransitions a.linkAnimBoxed p:first-of-type {
  text-decoration: none;
  position: relative;
}

.csstransforms.csstransitions a.linkAnimBoxed p:first-of-type:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px !important;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-out 0s;
}

.csstransforms.csstransitions.no-touch a.linkAnimBoxed:hover {
  p:first-of-type:before {
    visibility: visible;
    transform: scaleX(1);
  }
}
//////


///////////////////////
// Partial Styles

@import "partials/animations";
@import "partials/menu";
@import "partials/footer";
@import "partials/helpers";
@import "partials/print";

/* ========================================================================== */



////////////////////////////////////////////////////////////////////////////////////////////
// Default Luxloop Styles

@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

body, html {
  font-size: 100%;
  background: rgb(250,250,250);
}

body {
  color: $textColor;
  background: none;
  font-family: $bodyFont;
}

.opacity.js {
  body.enableFade {
    opacity: 0.0;
  }

  body.enableFade.showBody {
    opacity: 1.0
  }
}

.blockContainer {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  border: solid black 2px;
  background-color: white;
  box-shadow: 12px 11px 0px 0px $frontPageColor;

  .buttonImg {
    @include fullBg;
    width: 100%;
    height: 100%;
  }

  .blockText {
    font-family: $headerFont;
    font-size: 2rem;
  }
}

.blockTextBR {
  text-align: right;
  //margin: 4rem 0.5rem 0.5rem 2rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0rem 1.3rem 1rem 0rem;
}

.blockTextTL {
  margin: 4rem 2rem 1.3rem 1rem;
}

.blockButton {
  @extend .blockContainer;
  transform: scale(1.0);
  z-index: 20;
  border-radius: 0%;

  -webkit-transition: background-color $boxLinkTransitionTime ease-in-out;
          transition: background-color $boxLinkTransitionTime ease-in-out;

  .blockTextBR, .blockTextTL, .buttonImg {
    opacity: 1.0;
    -webkit-transition: opacity $boxLinkTransitionTime/4 ease-in-out;
            transition: opacity $boxLinkTransitionTime/4 ease-in-out;
  }

  &.expandButton.expand {
    -webkit-animation: bounceSpread $boxLinkTransitionTime ease-in-out forwards;
            animation: bounceSpread $boxLinkTransitionTime ease-in-out forwards;

    background-color: $boxTransitionColor;
    z-index: 99 !important;

    .blockTextBR, .blockTextTL, .buttonImg {
      opacity: 0.0 !important;
    }
  }
}

.no-touch .blockButton:hover {
  left: 3px;
  top: 3px;
  box-shadow: 9px 8px 0px 0px $frontPageColor;
}

.pageContainer {
  position: relative;
  width: 100vw;
  max-width: $max-width;
  margin: 0 auto;
  // background: #ccc
}

#linesBg {
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 50vw;
  width: 100vw;
  max-width: $max-width;
  transform: translateX(-50%);
  height: 100vh;
  overflow: hidden;
  background: $bgColor;
  // background: red;

  img {
    @include absTopLeft;
    width: 100%;
    opacity: 0.1;
  }
}

#pageTitleBox {
  position: absolute;
  // top: 0px;
  // left: 0px;
  width: 30%;
  bottom: $pageMargin*2;
  right: $pageMargin;
  // width: 30%;
  // bottom: 20px;
  // right: $pageMargin;
  text-transform: uppercase;

  p {
    margin: 0px;
  }

  .title {
    position: absolute;
    // left: 1.5rem;
    width: 100%;
    bottom: 1rem;
    // font-size: 3rem;
    padding-right: 1.5rem;
    //padding-left: 3rem;
    padding-left: 33%;
    line-height: 3rem;
    text-align: right;

    @include responsive-font(2.59vw, 15px, 50px, 40px);

    @media (min-width: $smallScreen) {
      // left: 2rem;
      bottom: 1.5rem;
    }
  }

  .subTitle {
    font-family: $bodyFont;
    font-size: 1.5rem;
  }
}

#pageCover {
  @include absTopLeft;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: $max-width * (2/3);
  background: white;

  .coverImage {
    @include absTopLeft;
    @include fullBg;
    //top: -$pageMargin * 1.5;
    width: 100%;
    height: 100%;

    background: white;
    overflow: hidden;

    img, video {
      height: 100%;
      width: auto;

      &.stretchWide {
        width: 100%;
        height: auto;
      }

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1.0;
    }
  }

  .topBar,.bottomBar {
    position: absolute;
    width: 100%;
    height: $pageMargin * 2;
    background: white;
  }

  .topBar {
    top: 0px;
    opacity: 0.0;
  }

  .bottomBar {
    bottom: 0px;
  }
}

#blurb {
  @include absTopLeft;
  position: relative;
  width: 100%;
  //margin-top: $pageMargin * 2;

  .blurbImage {
    .aspectContent {
      @include fullBg;
    }
  }

  .blurbCopy {
    // position: absolute;
    // right: initial;
    // left: 25%;
    // width: 75%;
    // min-height: 25vw;

    p {
      font-family: $blurbFont;
      padding: $pageMargin;
      font-size: 2.5rem;
      margin: 0 0;
    }
  }
}

#alternatingImages {
  position: relative;
  // height: 100vw;
  overflow: hidden;
  //margin-top: 2 * $pageMargin;
  margin-bottom: -25vh;
  .showcaseImage {
    position:relative;
    background: #999;
    .aspectContent {
      @include fullBg;
    }

    .captionLeft, .captionRight {
      position: absolute;
      bottom: 2px;
      color: #777;
      z-index: 2;
      font-size: 0.8rem;
      font-style: italic;
    }

    .captionRight {
      right: 8px;
    }

    .captionLeft {
      left: 4px;
    }

    .captionDark {
      color: #111;
    }
  }

  &, &.v1 {
    .showcaseImage:nth-of-type(1) {
      width: 50%;
      left: 50%;
      z-index: 3;
    }

    .showcaseImage:nth-of-type(2) {
      width: 75%;
      top: -20vh;
      z-index: 2;
    }

    .showcaseImage:nth-of-type(3) {
      width: 100%;
      top: -25vh;
      left: $pageMargin;
      z-index: 1;
    }

    .showcaseImage:nth-of-type(4) {
      width: 75%;
      top: -20vh;
      z-index: 2;
    }

    .showcaseImage:nth-of-type(5) {
      width: 100%;
      top: -25vh;
      left: $pageMargin;
      z-index: 1;
    }
  }

  &.v2 {
    .showcaseImage:nth-of-type(1) {
      width: 80%;
      left: 0%;
      z-index: 1;
    }

    .showcaseImage:nth-of-type(2) {
      width: 50%;
      left: 50%;
      top: -20vh;
      z-index: 2;
    }

    .showcaseImage:nth-of-type(3) {
      width: 75%;
      top: -25vh;
      left: 0px;
      z-index: 3;
    }

    .showcaseImage:nth-of-type(4) {
      width: 50%;
      left: 50%;
      top: -20vh;
      z-index: 2;
    }

    .showcaseImage:nth-of-type(5) {
      width: 75%;
      top: -25vh;
      left: 0px;
      z-index: 3;
    }
  }
}

#cornerLogo {
  font-family: $logoFont;
  font-size: 5rem;
  position: absolute;
  top: 0.8rem;
  left: 1rem;

  .logoSvg {
    max-width: 280px;
    width: 90vw;

    path {
      transition: fill 100ms linear;
    }

    path.st1 {
      fill: rgba(255,255,255,0.9);
    }

    path:not(.st1):not(.st2) {
      fill: black;
    }

    &:hover path:not(.st1):not(.st2) {
      fill: $frontPageColor;
    }
  }
}

.fullWidthMedia {
  position: relative;
  width: 100%;
  overflow: hidden;

  img, video  {
    width: 100%;
    height: auto;
  }

  .parallax.cropped {
    img {
      width: 130%;
      height: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .floatQuote {
    @include floatCentered;
    width: 50vw;
    height: 30vh;
    max-height: 300px;

    .blockText {
      margin: 1rem 1.3rem 1rem 1.3rem;
    }
  }
}

.fullWidthCopy {
  width: 100%;
  padding: 2*$pageMargin $pageMargin;
  font-size: 1.5rem;
  text-align: justify;
  position: relative;

  h1 {
    font-family: $headerFont;
    padding: 0px;
    margin: 0px;
  }

  p {
    font-family: $bodyFont;
    font-size: 1.5rem;
    padding: 1rem 0rem;
  }
}

.showcaseBoxes {
  position: relative;
  .boxesHead {
    // margin: 2rem 0 1rem 0;
    text-align: center;

    h1 {
      font-family: $headerFont;
      font-size: 2rem;
      margin-top: 4rem;
    }
  }

  .boxesBox {
    // height: 12rem;

    .aspect {
      width: 90%;
      margin: 1rem auto;

      .aspectContent {
        .blockContainer {
          background: $boxTransitionColor;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.imageWithCaption {
  position: relative;

  img {
    padding: 0rem !important;
  }
  .captionElement {
    &, &.captionIn, &.captionRight, &.captionDark {
      position: absolute;
      bottom: 2px;
      right: 8px;
      color: #111;
      z-index: 2;
      font-size: 0.8rem;
      font-style: italic;
    }

    &.captionLeft {
      right: initial;
      left: 4px;
    }

    &.captionCenter {
      right: initial;
      left: 50%;
      transform: translateX(-50%);
    }

    &.captionOut {
      bottom: -1.5rem;
    }

    &.captionLight {
      color: #777;
    }

  }
}


////////////////////////////////////////////////////////////////////////////////////////////
// Main Page Cover Styles

#homePage {

  #pageCover {
    height: 90vh;
  }

  #bigLuxLogoBox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: none;

    $outLineWidth: 2px;

    // White Boxes
    // &::before {
    //   content: "";
    //   border: black solid $outLineWidth;
    //   background: white;
    //   position: absolute;
    //   top: -5px;
    //   left: -5px;
    //   right: 5px;
    //   bottom: 5px;
    // }

    // &::after {
    //   content: "";
    //   border: black solid $outLineWidth;
    //   background: white;
    //   position: absolute;
    //   top: 5px;
    //   left: 5px;
    //   right: -5px;
    //   bottom: -5px;
    // }

    h1 {
      position: relative;
      font-family: $logoFont;
      color: $frontPageColor;
      font-size: 8rem;
      margin: 7rem 10rem;
      z-index: 5;

      @media (min-width: $tablet) {
        &:after {
          font-family: $bodyFontBold;
          font-size: 0.7rem;
          color: rgba(0,0,0,0.5);
          content: "An Experience-design and Production Studio";
          position: absolute;
          left: 3.3rem;
          bottom: 1.8rem;
        }
      }
    }

    .centerLogo {
      position: relative;
      width: 35vw;
      font-size: 8rem;
      margin: 7rem 10rem;
      z-index: 5;

      // .logoSvg path:not(.st1):not(.st2) {
      //   fill: $frontPageColor;
      // }

      @media (min-width: $tablet) {
        &:after {
          font-family: $bodyFont;
          font-size: 0.9rem;
          text-align: center;
          //color: rgba(0,0,0,0.5);
          color: white;
          content: "An Experience-design and Production Studio";
          position: absolute;
          left: 50%;
          top: 120%;
          width: 400px;
          transform: translateX(-50%);
          // background: red;
        }
      }
    }

    .topline {
      border-right: black solid $outLineWidth;
      border-bottom: black solid $outLineWidth;
      background: none;
      position: absolute;
      top: -5px;
      left: -5px;
      right: 5px;
      bottom: 5px;
      z-index: 6;
    }
  }

  #coolIfHolder {
    width: 100%;
    height: 100%;
    @include absTopLeft;

    div {
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5em;
      font-family: $bodyFont;
    }

    #coolIfPrompt {
      width: 30%;
      // background-color: blue;
      text-align: right;
    }

    #coolIfExample {
      width: 69.5%;
      // background-color: red;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        width: 90%;
        height: 2px !important;
        bottom: -2px;
        left: 5%;
        background-color: #000;
      }
    }
  }

  #blurb {
    margin: $pageMargin 0rem;
    position: relative;

    .blurbImage {
      .aspectContent {
        background-image: url('/assets/img/app_inhand.jpg');
        background-position: center 100% !important;
      }
    }

    .blurbCopy {
      p {
        font-family: $bodyFont;
      }
    }

    .buttonHolder {
      position: absolute;
      top: 90%;
      left: 25%;
      margin: 0;
    }
  }

  #whatWeDoButton {
    @extend .blockButton;
    width: 500px;
    height: 200px;
    .blockText {
      font-size: 3rem;
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////
// About Page Styles

#aboutPage {
  #pageCover {
    height: 65vh;
  }


  .fullWidthCopy {
    p {
      font-size: 1.4rem;
    }

  }


  #featuredProjects {
    .blockContainer {
      // box-sizing: border-box;
      // border: 0px;

      .buttonImg {
        // box-shadow: inset 0px 0px 0px 1px black;
        transition: opacity 300ms linear;
        background-size: auto calc(100% + 1px) !important;
        opacity: 1.0;
      }

      .blockText {
        position: absolute;
        padding-left: 30%;
        transition: opacity 300ms linear;
        opacity: 0.0;

        &.noFade {
          opacity: 1.0;
        }
      }

      &:hover {
        .buttonImg {
          opacity: 0.3;
        }

        .blockText {
          opacity: 1.0
        }
      }
    }

    margin-bottom: 8rem;
  }

  #clients {
    h1:first-of-type {
      //margin-top: 0rem;
    }

    .aspectContent {
      // background: red;
    }

    .pressLogo, .clientLogo {
      width: 100%;
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////
// Contact Page Styles

#contactPage {

  #pageCover {
    height: 65vh;
  }

  #contactInfo {
    position: relative;
    width: 60%;
    margin: 6rem auto;
    text-align: center;

    #footer {
      background: none;
      padding: 0rem;

      .contactInfo {
        display: none;
        visibility: hidden;
      }

      .socialInfo {
        margin: 0;
      }
    }

    .column {
      margin-top: 4rem;
      font-size: 1.5rem;

      h1 {
        font-family: $headerFont;
        margin: 0;
      }

      .contactInfo {
        color: black;
        margin: 0.1rem 0rem 1.5rem 0rem;
        a {
          color: black;
        }
      }
    }
  }

  #{$all-text-inputs} {
    border: 1px solid #ccc;
    font-family: $bodyFont;
    height: 2rem;
    width: 50%;
    max-width: 18rem;
    text-align: center;
    font-size: 1rem;
  }

  #{$all-buttons} {
    height: 2rem;
    width: 8rem;
    font-family: $bodyFont;
    background: $frontPageColor;
    color: white;
    border: none;
    padding-bottom: 1px;
    text-align: center;
    font-size: 1rem;
  }


  #{$all-text-inputs-focus}, #{$all-buttons-focus} {
    outline: none;
  }
}

.no-touch {
  #{$all-buttons-hover} {
    opacity: 0.8;
    cursor: pointer;
  }
}



////////////////////////////////////////////////////////////////////////////////////////////
// Projects Page Styles

#projects {
  #pageCover {
    height: 65vh;
    background: initial;
  }

  .projectBlockButton {
    .projTitle {
      padding-left: 15%;
    }
  }

  #projectsList {
    margin-top: 6rem;

    .projectEntry {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 10vh;
      // background: #ccc;

      .projectImage {
        width: $projImageWidth;
        overflow: hidden;
        //height: 50vw;
        //background: red;

        .aspectContent {
          overflow: hidden;
          padding:0px;
        }

        img {
          width: 130%;
          height: auto;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .bigBlockButton {
        @extend .blockButton;
        height: 15vw;
        width: 30vw;
        min-height: 100px;
        max-height: 200px;
        min-width: 250px;
        max-width: 400px;
      }

      .buttonHolder {
        position: absolute;
        left: $projLabelOffset;
        bottom: -2vh;

        .projTitle {
          text-align: right;
          font-size: 1.8rem;

          p {
            margin: 0px;
          }

          p:first-of-type {
            display: inline;
          }

          p:nth-of-type(2) {
            font-size: 1.2rem;
            font-family: $bodyFont;
          }
        }
      }

      &:nth-of-type(even) {
        .projectImage {
          margin-left: 100 - $projImageWidth;
        }

        .buttonHolder {
          left: initial;
          right: $projLabelOffset;
        }
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////
// Single Project Page Styles

#projectPage {

  #cornerLogo .logoSvg {
    max-width: 220px;
  }

  #pageTitleBox {
    @media (min-width:$smallScreen) {
      padding-left: 2rem;
    }
    // text-transform: none;
  }

  a {
    color: $textColor;
    text-decoration: none;
  }

  #pageCover {
    height: 80vh;
  }

  #projectInfo {
    position: relative;
    margin: 2rem $pageMargin;
    margin-top: 6rem;

    h1 {
      font-family: $headerFont;
      margin-top: 0px;
    }

    h2 {
      font-family: $headerFont;
      padding-top: 1rem;
      margin-top: 0px;
      margin-bottom: -0.8rem;
      font-size: 1.1em;
    }

    .title, .description {
      padding-left: 2rem;
    }

    .description {
      font-size: 1rem;
      text-align: justify;
      margin-bottom: 3rem;

      p:first-of-type {
        margin-top: 0rem;
      }

      img, .fitVid {
        width: 100%;
        padding: 2rem 0;
      }

    }
    .details {
      margin-bottom: 2rem;

      @media (min-width:$tablet) {
        padding-left: 2rem;
      }

      p, li {
        font-size: 0.9rem;
      }

      h1 {
        margin: 2rem 0rem 0rem 0rem;
        &:first-of-type {
          margin: 0rem;
        }
      }

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          margin-top: 0.2rem;
        }
      }

      a {
        color: $textColor;

        &.linkAnim:before, &.linkAnimBoxed:before {
          height: 1px !important;
        }
      }

      .teamEntry {

        margin-top: 1rem;
        &:first-of-type {
          margin-top: 0rem;
        }

        p {
          margin: 0rem;
        }

        .role {
          font-family: $blurbFont;
        }
      }
    }
  }

  &.caseStudyPage {
    #projectInfo {
      .description {

        & > h1:not(:first-child) {
          margin-top: 5rem;
        }

        .quote {
          @extend .blockContainer;

          font-style: italic;

          margin: 4rem 0rem 5rem 0rem;
          padding: 2.5rem 2rem;
          font-size:1.5rem;

          .source {
            font-size:1.2rem;
            display:block;
            margin-top:2rem
          }

          .source::before{content:"— "}
        }

      }

      .imageWithCaption {
        margin: 3rem 0rem;
      }

      video {
        width: 100%;
      }
    }
  }
}



////////////////////////////////////////////////////////////////////////////////////////////
// Responsive Tweaks

@media (max-width:$smallScreen) {
  // #cornerLogo {font-size: 2.5rem;}

  #homePage {


    #blurb {
      .blurbCopy {
        p {
          font-size: 2rem;
        }
      }

      .buttonHolder {
        left: 10%;
      }
    }

    #whatWeDoButton {
      width: 400px;
      height: 160px;
      .blockText {
        font-size: 2.5rem;
      }
    }

  }

  #aboutPage {
    #featuredProjects, #clients {
      .blockContainer {
        p {
          font-size: 1.2rem;
          padding-left: 1.3rem !important;
        }
      }
    }
  }
  #pageTitleBox {
    width: 30%;
    bottom: $pageMargin;
    right: initial;
    left: 4.5rem;
    min-width: 300px;

    .title {
      font-size: 2rem;
      text-align: left;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .subTitle {
      font-size: 1.8rem;
    }
  }

  #projects {
    #projectsList {
      .projectEntry {
        .buttonHolder {

          .bigBlockButton {
            height: 200px;
            max-height: 200px;
          }

          .projTitle {
            font-size: 1.5rem;
            p:nth-of-type(2) {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  #projectPage {
    #pageCover {

    }

    #projectInfo {
      margin: inherit;
      @include margin(2rem null);
    }
  }

  #contactPage {
    #contactInfo {
      width: 80%;
      //margin: 6rem auto;
      text-align: center;

      .column {
        font-size: 1.2rem;
      }
    }
  }
}

@media (max-width:$tablet) {
  .noShowTablet {display: none !important;}
  // #cornerLogo {left: $pageMargin/2;}

  .blockTextBR {
    margin: 0rem 0.9rem 0.6rem 0rem;
  }

  .blockTextTL {
    margin: 4rem 2rem 0.6rem 0.9rem;
  }

  #alternatingImages {
    overflow: hidden;
    margin: 0px;

    .showcaseImage {
      width: 100% !important;
      top: 0px !important;
      left: 0px !important;
      z-index: 3 !important;
      margin: 1rem 0rem !important;
    }
  }

  .fullWidthCopy {
    margin-top: 3rem;
    padding: 0 $pageMargin/2;
    p {
      font-size: 1.1rem;
      // padding: 1rem 0rem;
    }
  }

  .fullWidthMedia {
    .floatQuote {
      width: 55vw;

      .blockText {
        font-size: 1.5rem;
        margin: 0.6rem 1rem;
      }
    }
  }

  #homePage {
    #bigLuxLogoBox {

      .centerLogo {
        width: 55vw;
        margin: 5rem 6.5rem;
      }
      // h1 {
      //   font-size: 6rem;
      //
      // }
    }

    #blurb {
      margin-bottom: 10rem;

      .buttonHolder {
        left: 50%;
        margin: 2rem 0rem;
        transform: translateX(-50%);
        z-index: 5;
      }
    }

    #whatWeDoButton {
      height: 120px;
      width: 300px;
      .blockText {
        font-size: 2rem;
      }
    }
  }

  #aboutPage {
    #featuredProjects, #clients {
      .blockContainer {
        p {
          font-size: 2rem;
          padding-left: 30%;
        }
      }
    }
  }

  #projects {
    #projectsList {
      .projectEntry {
        .projectImage {
          width: 100%;
        }

        .buttonHolder {
          left: 2rem;
          // bottom: -2vh;



          .projTitle {
            font-size: 1.5rem;
            p:nth-of-type(2) {
              font-size: 1rem;
            }
          }
        }

        &:nth-of-type(even) {
          .projectImage {
            margin-left: 0px;
          }

          .buttonHolder {
            //left: initial;
            right: 2rem;
          }
        }
      }
    }
  }

  #pageTitleBox {
    left: $pageMargin/2 - 0.5rem;
  }

  #contactPage {
    #contactInfo {
      width: 100%;
      //margin: 6rem auto;
      text-align: center;
    }
  }

  #projectPage {
    #pageCover {

    }

    #projectInfo {
      .title, .description {
        padding-left: initial;
      }

      .description {
        margin-bottom: 4rem;
      }
    }
  }
}

@media (max-width:$mobile) {

  .noShowMobile {display: none !important;}
  #cornerLogo {left: 1rem}

  .fullWidthMedia {
    .floatQuote {
      width: 85vw;
      max-height: 100px;

      .blockText {
        font-size: 1rem;
        margin: 0.6rem;
      }
    }
  }

  #aboutPage {
    .fullWidthCopy {
      margin-top: 8rem;
    }
  }

  #homePage {
    #bigLuxLogoBox {

      .centerLogo {
        width: 70vw;
        margin: 2rem 3rem;
      }
      // h1 {
      //   font-size: 4.8rem;
      //   margin: 4rem 4rem;
      // }
    }
    #blurb {
      .blurbCopy {
        p {
          font-size: 1.8rem;
        }
      }
    }

    #whatWeDoButton {
      height: 80px;
      width: 200px;
      .blockText {
        font-size: 1.5rem;
      }
    }
  }

  #projects {
    #projectsList {
      margin-top: 10rem;

      .projectEntry {
        .buttonHolder {
          left: 5%;
          width: 90%;
          // bottom: -2vh;

          .projectBlockButton {
            width: 100%;
            min-width: initial;
          }

          .bigBlockButton {
            height: 20vw;
            max-height: 200px;
            max-height: 100px;
          }

          .projTitle {
            font-size: 1.5rem;
            p:nth-of-type(2) {
              // font-size: 1rem;
              visibility: hidden;
              display: none;
            }
          }
        }

        &:nth-of-type(even) {
          .projectImage {
            margin-left: 0px;
          }

          .buttonHolder {
            left: 5%;
            right: initial;
          }
        }
      }
    }
  }

  #pageTitleBox {
    bottom: -4rem;
    left: 0.5rem;
    width: 50%;
  }

  #projectPage {
    #pageCover {
      padding: 0rem 0.5rem;

    }
    #projectInfo {
      margin-top: 6rem;
    }
  }
}

@media (max-width:$smallMobile) {
  #cornerLogo {left: 1rem}

  .fullWidthMedia {
    .floatQuote {
      .blockText {
        font-size: 0rem;
      }
    }
  }

  #homePage {
    #bigLuxLogoBox {
      .centerLogo {
        width: 60vw;
        margin: 1rem 3rem 2rem 3rem;
      }
      // h1 {
      //   font-size: 3rem;
      //   margin: 3rem 4rem;
      // }
    }
  }

  #pageTitleBox {
    min-width: 200px;
    width: initial;
    right: 1.25rem;
    max-width: 300px;


    .title {
      font-size: 2rem;
    }
    .subTitle {
      font-size: 1.5rem;
    }
  }

  #projects {
    #projectsList {
      .projectEntry {
        .buttonHolder {
          .projTitle {
            font-size: 1rem;
            p:nth-of-type(2) {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  #projectPage {
  }
}

// @media screen and (max-width: $tablet) and (orientation:portrait) {
//   #pageCover {
//     .coverImage {
//       img, video {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }

@media (min-width: $tablet) {
  .noShowLarge {
    display: none !important;
  }
}

/* ========================================================================== */

