@import "partials/normalize";

@import "lib/bourbon/bourbon";
@import "lib/neat/neat";
@import "partials/font";

@import "partials/bpDefaults";

/* ========================================================================== */

$max-width: rem(1600);
$tablet:	rem(800);
$mobile:	rem(500);

$pageMargin: 3rem;

$frontPageColor: rgb(59,109,255);
$boxLinkTransitionTime: 700ms;

$bgColor: #fff;
$textColor: #000;
$defaultWeight: 100;

$headerFont: 'code_boldregular', sans-serif;
$bodyFont: 'open_sanslight', sans-serif;
$blurbFont: 'open_sanslight_italic', sans-serif;
$logoFont: 'mark_my_wordsregular';

@import "partials/animations";


@mixin fullBg {
	background-repeat: no-repeat !important;
	// background-attachment: fixed;
	background-position: center center !important;
	background-size: cover !important;
}

@mixin absTopLeft {
  position: absolute;
  top: 0px;
  left: 0px;
}

@mixin absTopRight {
  position: absolute;
  top: 0px;
  right: 0px;
}




/* ========================================================================== */

body, html {
	font-size: 100%;
  background: $bgColor;
}

body {
	color: $textColor;
  background: $bgColor;
  font-family: $bodyFont;
}

.underlined {text-decoration: underline;}
.strike {text-decoration: line-through;}
.smaller {font-size: 0.85em;}
.moreSmaller {font-size: 0.7em;}
.muchSmaller {font-size: 0.7em;@include media(min-width $tablet){font-size: 0.5em;}}
.centered {text-align: center;}
.bolder {
  font-weight: $defaultWeight + 100;
}

.floatLeft {@include absTopLeft;}
.floatRight {@include absTopRight;}

.quarter {width: 25vw;}
.three-quarter {width: 75vw;}
.half {width: 50vw;}

.blockButton {
  display: block;
  text-decoration: none;
  color: black;
  border: solid black 2px;
  background-color: white;
  box-shadow: 12px 11px 0px 0px $frontPageColor;
  transform: scale(1.0);
  z-index: 20;

  -webkit-transition: background-color $boxLinkTransitionTime ease-in-out;
          transition: background-color $boxLinkTransitionTime ease-in-out;

  // -webkit-transition-delay: $boxLinkTransitionTime * 0.35;
  //         transition-delay: $boxLinkTransitionTime * 0.35;

  // -webkit-transition: transform $boxLinkTransitionTime ease-in-out,
  //                     background-color $boxLinkTransitionTime linear,
  //                     box-shadow $boxLinkTransitionTime/2 linear,
  //                     border-color $boxLinkTransitionTime/2 linear,
  //                     border-radius $boxLinkTransitionTime/4 ease-in-out;
  //         transition: transform $boxLinkTransitionTime ease-in-out,
  //                     background-color $boxLinkTransitionTime linear,
  //                     box-shadow $boxLinkTransitionTime/2 linear,
  //                     border-color $boxLinkTransitionTime/2 linear,
  //                     border-radius $boxLinkTransitionTime/4 ease-in-out;

  border-radius: 0%;


  .buttonTextBR {
    text-align: right;
    margin: 4rem 0.5rem 0.5rem 2rem;
  }

  .buttonTextTL {
    margin: 4rem 2rem 0.5rem 0.5rem;
  }

  .buttonTextBR, .buttonTextTL {
    font-family: $headerFont;
    font-size: 2rem;
    opacity: 1.0;
    -webkit-transition: opacity $boxLinkTransitionTime/4 ease-in-out;
            transition: opacity $boxLinkTransitionTime/4 ease-in-out;
  }

  &:hover {
    left: 3px;
    top: 3px;
    box-shadow: 9px 8px 0px 0px $frontPageColor;
  }

  &.expandButton.expand {
    // -webkit-transition: transform $boxLinkTransitionTime ease-in-out,
    //                   background-color $boxLinkTransitionTime linear,
    //                   box-shadow $boxLinkTransitionTime/2 linear,
    //                   border-color $boxLinkTransitionTime/2 linear,
    //                   border-radius $boxLinkTransitionTime/4 ease-in-out;
    //       transition: transform $boxLinkTransitionTime ease-in-out,
    //                   background-color $boxLinkTransitionTime linear,
    //                   box-shadow $boxLinkTransitionTime/2 linear,
    //                   border-color $boxLinkTransitionTime/2 linear,
    //                   border-radius $boxLinkTransitionTime/4 ease-in-out;


    // border-radius: 50%;
    // transform: scale(8.0,15.0);
    // background-color: #FF3531;
    // border-color: rgba(255,255,255,0);
    // box-shadow: 0px 0px 0px 0px $frontPageColor;

    -webkit-animation: bounceSpread $boxLinkTransitionTime ease-in-out forwards;
            animation: bounceSpread $boxLinkTransitionTime ease-in-out forwards;

    background-color: #FF3531;


    .buttonTextBR, .buttonTextTL {
      opacity: 0.0;
    }
  }
}


.bigBlockButton {
  @extend .blockButton;
  width: 30vw;
  min-width: 250px;
  max-width: 400px;
}

h1 {
	@extend .bolder;
	font-size: 1.3em;
}

h2 {
  @extend .bolder;
  font-size: 1em;
}

// ==================

#linesBg {
  z-index: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: auto;
  img {
    width: 100%;
    opacity: 0.2;
  }
}

#cornerMenu {
  position: fixed;
  top: 0px;
  right: 0px;
  border-bottom-left-radius: 100% 100%;


  width: 5rem;
  height: 5rem;
  z-index: 10;
  background: none;
  overflow: hidden;
  -webkit-transition: width 400ms ease-in-out, height 400ms ease-in-out;
          transition: width 400ms ease-in-out, height 400ms ease-in-out;

  .menuBg, .menuBg:after {
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 100% 100%;
  }

  .menuBg {
    width: 100vh;
    height: 100vh;
    -webkit-transition: background-color 300ms linear;
            transition: background-color 300ms linear;
    background-color: white;
    // background: rgba(0,0,0,1);
    // background: -webkit-radial-gradient(top right circle, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 70%);
    // background: radial-gradient(circle at top right, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 70%);
  }

  $menuToggleSize: 1.5rem;

  .menuToggle {
    width: $menuToggleSize;
    height: $menuToggleSize;
    color: white;
    font-family: $headerFont;
    position: absolute;
    top: 1rem;
    right: 1rem;
    -webkit-transition: transform 200ms linear;
    transition: transform 200ms linear;

    &:hover {
      cursor: pointer;
    }

    &:after, &:before {
      -webkit-transition: background-color 200ms linear;
              transition: background-color 200ms linear;
      background-color: black;
    }

    &:before {
      content: "";
      position: absolute;
      left: $menuToggleSize/2;
      top: 0rem;
      height: $menuToggleSize;
      width: $menuToggleSize/7;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }

    &:after {
      content: "";
      position: absolute;
      top: $menuToggleSize/2;
      left: 0rem;
      width: $menuToggleSize;
      height: $menuToggleSize/7;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  &.show {
    width: 100vh;
    height: 100vh;

    .menuBg {
      background-color: $frontPageColor;
      // background-color: black;
      // opacity: 0.7;
    }

    .menuToggle {
      //background-color: blue;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);

      &:after, &:before {
        background-color: white;
      }
    }
  }
}

#pageCover {
  @include absTopLeft;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: white;

  .coverImage {
    @include absTopLeft;
    //top: -$pageMargin * 1.5;
    width: 100vw;
    height: 100%;
    background-image: url('/assets/img/overheard.jpg');
    background-attachment: fixed;
    @include fullBg;
  }

  .topBar,.bottomBar {
    position: absolute;
    width: 100vw;
    height: $pageMargin * 1.5;
    background: white;
  }

  .topBar {
    top: 0px;
    opacity: 0.0;
  }

  .bottomBar {
    bottom: 0px;
  }

  .bigLuxLogoBox {
    position: absolute;
    top: 40vh;
    left: 50vw;
    @include transform(translate(-50%,-50%));
    background: none;

    $outLineWidth: 2px;


    &::before {
      content: "";
      border: black solid $outLineWidth;
      background: white;
      position: absolute;
      top: -5px;
      left: -5px;
      right: 5px;
      bottom: 5px;
    }

    &::after {
      content: "";
      border: black solid $outLineWidth;
      background: white;
      position: absolute;
      top: 5px;
      left: 5px;
      right: -5px;
      bottom: -5px;
    }

    h1 {
      position: relative;
      font-family: $logoFont;
      color: $frontPageColor;
      font-size: 6rem;
      margin: 3rem 4rem;
      z-index: 5;
    }

    .topline {
      border-right: black solid $outLineWidth;
      border-bottom: black solid $outLineWidth;
      background: none;
      position: absolute;
      top: -5px;
      left: -5px;
      right: 5px;
      bottom: 5px;
      z-index: 6;
    }

  }

}

#blurb {
  @include absTopLeft;
  position: relative;
  // top: 100vh;
  // height: 100vh;
  width: 100vw;
  margin-top: $pageMargin * 2;

  .blurbImage {
    background-image: url('/assets/img/bluebutterfly.jpg');
    @include fullBg;
    background-position: 85% center !important;
    height: 30vw;
  }

  .theBlurb {
    position: relative;
    right: initial;
    left: 25vw;
    width: 75vw;
    min-height: 25vw;

    p {
      font-family: $blurbFont;
      padding: $pageMargin;
      font-size: 2.5rem;
      margin: 0 0;
    }
  }

  .bigBlockButton {
    position: relative;
    // height: 300px;
    margin: 0 $pageMargin;
  }
}

#recentProjects {
  position: relative;
  height: 104.5vw;
  overflow: hidden;
  margin-top: 2 * $pageMargin;
  .showcaseImage {
    @include fullBg;
    position:absolute;
  }

  .showcaseImage:nth-of-type(1) {
    background-image: url('/assets/img/cover.png');
    width: 50vw;
    height: 37.5vw;
    left: 50vw;
    z-index: 3;
  }

  .showcaseImage:nth-of-type(2) {
    background-image: url('/assets/img/socialsound.jpg');
    width: 75vw;
    height: 42vw;
    top: 22.5vw;
    z-index: 2;
    // border-bottom-right-radius: 42vw 42vw;
  }

  .showcaseImage:nth-of-type(3) {
    background-image: url('/assets/img/city.png');
    width: 100vw;
    height: 40vw;
    top: 54.5vw;
    left: $pageMargin;
    z-index: 1;
  }
}

#footer {
  min-height: 15vh;
  width: 100vw;
  background: white;
  text-align: center;
  font-family: 'open_sansregular';

  .contactInfo {
    display: inline-block;
    margin: 0;
    width: 33vw;
  }

  .socialInfo {
    margin: 0 auto;
    margin-top: 2rem;

    a {
      text-decoration: none;
    }

    img {
      width: 30px;
    }
  }
}

/* ========================================================================== */
@import "partials/helpers";
@import "partials/print";
