@import "normalize/import-now";

$output-bourbon-deprecation-warnings: false;
@import "bourbon";
@import "neat";

@import "partials/font";
@import "partials/bpDefaults";

/* ========================================================================== */

///////////////////////
// Global Vars
$max-width: 1300px;
$tablet:	800px;
$smallScreen: $tablet * 1.25;
$mobile:	500px;

$pageMargin: 3rem;

$bgColor: #fff;
$textColor: #000;
$defaultWeight: 100;

$headerFont: 'code_boldregular', sans-serif;
$bodyFont: 'open_sanslight', sans-serif;
$blurbFont: 'open_sanslight_italic', sans-serif;
$logoFont: 'mark_my_wordsregular';

$boxLinkTransitionTime: 700ms;

// Front Page Vars
$frontPageColor: rgb(59,109,255);

// Projects Page Vars
$projImageWidth: 70%;
$projLabelOffset: $projImageWidth - 10;

///////////////////////
// Grid

$neat-grid: (
  gutter: 1rem
);

$mediumGrid: (
  gutter: $pageMargin/2,
  media: $mobile,
);

$largeGrid: (
  gutter: $pageMargin,
  media: $tablet,
);

.gridContainer {@include grid-container;}
.column {
  @include grid-column;
}

.column8 {
  @include grid-media($mediumGrid){
    @include grid-column(12);
  }
  @include grid-media($largeGrid){
    @include grid-column(8);
  }
}

.column4 {
  @include grid-media($mediumGrid){
    @include grid-column(12);
  }
  @include grid-media($largeGrid){
    @include grid-column(4);
  }
}


///////////////////////
// Globa Helpers

@mixin fullBg {
  background-repeat: no-repeat !important;
  // background-attachment: fixed;
  background-position: center center !important;
  background-size: cover !important;
}

@mixin absTopLeft {
  //@include position(absolute, 0px null null 0px);
  position: absolute;
  top: 0px;
  left: 0px;
}

@mixin absTopRight {
  position: absolute;
  top: 0px;
  right: 0px;
}

.underlined {text-decoration: underline;}
.strike {text-decoration: line-through;}
.smaller {font-size: 0.85em;}
.moreSmaller {font-size: 0.7em;}
//.muchSmaller {font-size: 0.7em;@include media(min-width $tablet){font-size: 0.5em;}}
.centered {text-align: center;}
.bolder {
  font-weight: $defaultWeight + 100;
}

h1 {
  @extend .bolder;
  font-size: 1.3em;
}

h2 {
  @extend .bolder;
  font-size: 1em;
}

a {
  text-decoration: none;
}

.floatLeft {@include absTopLeft;}
.floatRight {@include absTopRight;}
.relative { position: relative }
.absolute { position: absolute }

.quarter {width: 25%;}
.three-quarter {width: 75%;}
.half {width: 50%;}

.enableFade {
  @include transition(opacity 1000ms linear);
}
.fadeOut {opacity:0.0 !important}
.fadeIn {opacity:1.0 !important}

.fitVid {z-index: 10;}

.aspect {
  position: relative;
  width: 100%;
  &.ratio-1-1 { padding-bottom: 100% }
  &.ratio-1-2 { padding-bottom: 50% }
  &.ratio-2-1 { padding-bottom: 200% }
  &.ratio-1-3 { padding-bottom: 33.333% }
  &.ratio-3-1 { padding-bottom: 300% }
  &.ratio-3-4 { padding-bottom: 75% }
  &.ratio-4-3 { padding-bottom: 133.333% }
  &.ratio-2-3 { padding-bottom: 66.666% }
  &.ratio-3-2 { padding-bottom: 150% }
  &.ratio-9-16 { padding-bottom: 56.25% }
  &.ratio-16-9 { padding-bottom: 177.777% }
}

.aspectContent {
  position: absolute !important;
  top: 0;  bottom: 0;  left: 0;  right: 0 !important;
  // padding: 0 24px; /* Optional padding for content area */
}

///////////////////////
// Partial Styles

@import "partials/animations";
@import "partials/menu";
@import "partials/footer";
@import "partials/helpers";
@import "partials/print";

/* ========================================================================== */



///////////////////////
// Default Luxloop Styles

body, html {
  font-size: 100%;
  background: $bgColor;
}

body {
  color: $textColor;
  background: $bgColor;
  font-family: $bodyFont;
}

.blockContainer {
  position: relative;
  display: block;
  text-decoration: none;
  color: black;
  border: solid black 2px;
  background-color: white;
  box-shadow: 12px 11px 0px 0px $frontPageColor;

  .blockText {
    font-family: $headerFont;
    font-size: 2rem;
  }
}

.blockTextBR {
  text-align: right;
  //margin: 4rem 0.5rem 0.5rem 2rem;
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 0rem 0.5rem 0.4rem 0rem;
}

.blockTextTL {
  margin: 4rem 2rem 0.5rem 0.5rem;
}

.blockButton {
  @extend .blockContainer;
  transform: scale(1.0);
  z-index: 20;
  border-radius: 0%;

  -webkit-transition: background-color $boxLinkTransitionTime ease-in-out;
          transition: background-color $boxLinkTransitionTime ease-in-out;

  .blockTextBR, .blockTextTL {
    opacity: 1.0;
    -webkit-transition: opacity $boxLinkTransitionTime/4 ease-in-out;
            transition: opacity $boxLinkTransitionTime/4 ease-in-out;
  }

  &:hover {
    left: 3px;
    top: 3px;
    box-shadow: 9px 8px 0px 0px $frontPageColor;
  }

  &.expandButton.expand {
    -webkit-animation: bounceSpread $boxLinkTransitionTime ease-in-out forwards;
            animation: bounceSpread $boxLinkTransitionTime ease-in-out forwards;

    background-color: #FF3531;
    z-index: 99;

    .blockTextBR, .blockTextTL {
      opacity: 0.0;
    }
  }
}


.bigBlockButton {
  @extend .blockButton;
  height: 10vw;
  width: 30vw;
  min-width: 250px;
  max-width: 400px;
}

.pageContainer {
  position: relative;
  width: 100vw;
  max-width: $max-width;
  margin: 0 auto;
  // background: #ccc
}

#linesBg {
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 50vw;
  width: 100vw;
  max-width: $max-width;
  @include transform(translateX(-50%))
  height: 100vh;
  overflow: hidden;
  // background: red;

  img {
    @include absTopLeft;
    width: 100%;
    opacity: 0.1;
  }
}

#pageCover {
  @include absTopLeft;
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: $max-width * (2/3);
  background: white;

  .coverImage {
    @include absTopLeft;
    //top: -$pageMargin * 1.5;
    width: 100%;
    height: 100%;

    background: white;
    overflow: hidden;

    img, video {
      height: 100%;
      width: auto;

      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      opacity: 1.0;
    }
  }

  .topBar,.bottomBar {
    position: absolute;
    width: 100%;
    height: $pageMargin * 1.5;
    background: white;
  }

  .topBar {
    top: 0px;
    opacity: 0.0;
  }

  .bottomBar {
    bottom: 0px;
  }

  .bigLuxLogoBox {
    position: absolute;
    top: 40%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    background: none;

    $outLineWidth: 2px;


    &::before {
      content: "";
      border: black solid $outLineWidth;
      background: white;
      position: absolute;
      top: -5px;
      left: -5px;
      right: 5px;
      bottom: 5px;
    }

    &::after {
      content: "";
      border: black solid $outLineWidth;
      background: white;
      position: absolute;
      top: 5px;
      left: 5px;
      right: -5px;
      bottom: -5px;
    }

    h1 {
      position: relative;
      font-family: $logoFont;
      color: $frontPageColor;
      font-size: 6rem;
      margin: 3rem 4rem;
      z-index: 5;
    }

    .topline {
      border-right: black solid $outLineWidth;
      border-bottom: black solid $outLineWidth;
      background: none;
      position: absolute;
      top: -5px;
      left: -5px;
      right: 5px;
      bottom: 5px;
      z-index: 6;
    }

  }

}

#blurb {
  @include absTopLeft;
  position: relative;
  width: 100%;
  margin-top: $pageMargin * 2;

  .blurbImage {
    background-image: url('/assets/img/bluebutterfly.jpg');
    @include fullBg;
    background-position: 85% center !important;
  }

  .theBlurb {
    position: absolute;
    right: initial;
    left: 25%;
    width: 75%;
    min-height: 25vw;

    p {
      font-family: $blurbFont;
      padding: $pageMargin;
      font-size: 2.5rem;
      margin: 0 0;
    }
  }

  .buttonHolder {
    position: relative;
    top: -4rem;
    margin: 0 $pageMargin;
  }
}

#alternatingImages {
  position: relative;
  // height: 100vw;
  overflow: hidden;
  //margin-top: 2 * $pageMargin;
  margin-bottom: -25vh;
  .showcaseImage {
    position:relative;
    background: #999;
    .aspectContent {
      @include fullBg;
    }
  }

  &, &.v1 {
    .showcaseImage:nth-of-type(1) {
      width: 50%;
      left: 50%;
      z-index: 3;
    }

    .showcaseImage:nth-of-type(2) {
      width: 75%;
      top: -20vh;
      z-index: 2;
    }

    .showcaseImage:nth-of-type(3) {
      width: 100%;
      top: -25vh;
      left: $pageMargin;
      z-index: 1;
    }
  }

  &.v2 {
    .showcaseImage:nth-of-type(1) {
      width: 80%;
      left: 0%;
      z-index: 1;
    }

    .showcaseImage:nth-of-type(2) {
      width: 50%;
      left: 50%;
      top: -20vh;
      z-index: 2;
    }

    .showcaseImage:nth-of-type(3) {
      width: 75%;
      top: -25vh;
      left: 0px;
      z-index: 3;
    }
  }
}

#cornerLogo {
  font-family: $logoFont;
  font-size: 3.5rem;
  position: absolute;
  top: 0.8rem;
  left: 1rem;

  a {
    color: $frontPageColor;
    transition: color 100ms linear;

    &:hover {
      color: white;
    }
  }
}

///////////////////////
// Projects Page Styles
#projects {
  #pageCover {
    height: 60vh;
    background: initial;
  }

  .projectEntry {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 10vh;
    // background: #ccc;

    .projectImage {
      width: $projImageWidth;
      overflow: hidden;
      //height: 50vw;
      //background: red;

      .aspectContent {
        overflow: hidden;
        padding:0px;
      }

      img {
        width: 130%;
        height: auto;
        position: relative;
        left: 50%;
        @include transform(translateX(-50%))
      }
    }

    .buttonHolder {
      position: absolute;
      left: $projLabelOffset;
      bottom: -2vh;

      .projectBlockButton {
        width: 25%;
        height: 15vw;
      }

      .projTitle {
        text-align: right;
        font-size: 1.5rem;

        p {
          margin: 0px;
        }

        p:nth-of-type(2) {
          font-size: 1rem;
          font-family: $bodyFont;
        }
      }
    }

    &:nth-of-type(even) {
      .projectImage {
        margin-left: 100 - $projImageWidth;
      }

      .buttonHolder {
        left: initial;
        right: $projLabelOffset;
      }
    }
  }
}

///////////////////////
// Single Project Page Styles

#projectPage {
  #pageCover {
    height: 80vh;

    .projectTitleBox {
      position: absolute;
      // top: 0px;
      // left: 0px;
      width: 30%;
      bottom: 20px;
      right: $pageMargin;

      p {
        margin: 0px;
      }

      .title {
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem;
        font-size: 2.5rem;
      }

      .subTitle {
        font-family: $bodyFont;
        font-size: 1.5rem;
      }
    }
  }

  #projectInfo {
    position: relative;
    margin: 2rem $pageMargin;

    h1 {
      font-family: $headerFont;
      margin-top: 0px;
    }

    .description {
      font-size: 1rem;
      text-align: justify;

      p:first-of-type {
        margin-top: 0rem;
      }

      img, .fitVid {
        width: 100%;
        padding: 2rem 0;
      }

    }
    .details {

      p, li {
        font-size: 0.9rem;
      }

      h1 {
        margin: 2rem 0rem 0rem 0rem;
        &:first-of-type {
          margin: 0rem;
        }
      }

      ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;

        li {
          margin-top: 0.2rem;
        }
      }

      .teamEntry {

        margin-top: 1rem;
        &:first-of-type {
          margin-top: 0rem;
        }

        p {
          margin: 0rem;
        }

        .role {
          font-family: $blurbFont;
        }
      }
    }
  }
}


@media (max-width:$smallScreen) {
  #cornerLogo {font-size: 2.5rem;}

  #projectPage {
    #pageCover {
      .projectTitleBox {
        width: 27vw;

        .title {
          font-size: 2rem;
        }
        .subTitle {
          font-size: 1rem;
        }
      }
    }

    #projectInfo {
      margin: inherit;
      @include margin(2rem null);
    }
  }
}

@media (max-width:$tablet) {
  #cornerLogo {left: $pageMargin/2;}

  #projectPage {
    #pageCover {
      .projectTitleBox {
        width: 50%;
        bottom: 20px;
        right: initial;
        left: $pageMargin/2 - 0.5rem;
      }
    }
  }
}

@media (max-width:$mobile) {
  #cornerLogo {left: 1rem}

  #projectPage {
    #pageCover {
      padding: 0rem 0.5rem;
      .projectTitleBox {
        // width: 50%;
        // bottom: 20px;
        // right: initial;
        bottom: -4rem;
        left: 0.5rem;
        width: 50%;
        min-width: 200px;

        .title {
          font-size: 1.5rem;
        }
        .subTitle {
          font-size: 1rem;
        }
      }
    }
    #projectInfo {
      margin-top: 6rem;
    }
  }
}

/* ========================================================================== */

